.center{
    background: #f2f2f2;
}
.hzContainer{
    width: 1190px;
    margin: 0 auto;
}
.mTop{
    padding-top: 20px;
}
/*��ߵ��������ֿ�ʼ*/
.hzSidebarLeft {
    background-color: #f2f2f2;
    padding: 3px 0 40px;
    width: 280px;
}
.hzSidebarLeft .contentLeft {
    margin: 0 auto;
    width: 1190px;
    font-weight: 100;
}
.hzSidebarLeft .left {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 237px;
    padding: 40px 0 32px 40px;
    background-color: #fff;
}

.hzSidebarLeft .left ul {
    margin-bottom: 20px;
}
.hzSidebarLeft .left ul h3 {
    line-height: 22px;
    height: 22px;
    font-size: 14px;
    color: #999999;
    margin-bottom: 5px;
    padding-left: 31px;
}
.hzSidebarLeft .left ul h3.first {
    background: url("../images/account.png") no-repeat left 0px;
}
.hzSidebarLeft .left ul h3.second {
    background: url("../images/capital.png") no-repeat left 2px;
}
.hzSidebarLeft .left ul h3.third {
    background: url("../images/mission.png") no-repeat left 1px;
}
.hzSidebarLeft .left ul h3.forth {
    background: url("../images/award.png") no-repeat left 1px;
}

.hzSidebarLeft .left ul h3 em {
    display: inline-block;
    width: 20px;
    height: 22px;
    margin-right: 10px;
}
.hzSidebarLeft .left ul a {
    font-size: 16px;
    color: #666666;
    line-height: 32px;
    margin-left: 30px;
}
.hzSidebarLeft .left ul a.active {
    color: #3FC6FF;
}
/*��ߵ��������ֽ���*/
/*�����¼��ʼ*/
.contenerRight{
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.contenerRight .fenxiangLink{
    margin: 30px;
    width: 93%;
    height: 112px;
    background: #f5f5f5;
    position: relative;
}
.fenxiangLink p{
    font-size: 16px;
    color: #666666;
    line-height: 112px;
    padding-left: 43px;
}
.fenxiangLink input{
    width: 512px;
    height: 46px;
    font-size: 16px;
    color: #aaaaaa;
    border: 1px solid #e4e4e4;
    margin-left: 12px;
    margin-top: 30px;
    padding-left: 30px;
}
.fenxiangLink .triangle_border_up{
    display: inline-block;
    width:0;
    height:0;
    border-width:17px 17px 0;
    border-style:solid;
    border-color:#f5f5f5 transparent transparent;
    margin: 40px auto;
    left: 50%;
    margin-left: -15px;
    top: 63%;
    position:absolute;
}
.shareLink{
    width: 87%;
    height: 52px;
    margin: 30px 60px;
    position: relative;
}
.shareLink a{
    display: inline-block;
    width: 178px;
    height: 52px;
    background: #333;
    text-align: center;
    line-height: 52px;
    font-size: 16px;
    margin-left: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding-left: 5px;
    padding-left: 22px;
    /*position: relative;*/
}
.shareLink .weibo{
    color: #d52b2a;
    background: url("../images/share-weibo.png") #fee38f no-repeat 43px center;
}
.shareLink .weixin{
    color: #fff;
    background: url("../images/share-weixin.png") #00ce0d no-repeat 43px center;
}
.shareLink .duanxin{
    color: #fff;
    background: url("../images/share-duanxin.png") #23cd40 no-repeat 43px center;
}
.showCord{
    display: none;
    position: absolute;
    width: 198px;
    height: 172px;
    border: 1px solid #00ce0d;
    top: 50px;
    left: 50%;
    margin-left: -103px;
    background: url("../images/shareCord_03.png") #fff no-repeat center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.messageShare{
    display: none;
    width: 178px;
    padding: 10px;
    border: 1px solid #00ce0d;
    position: absolute;
    top: 50px;
    right: 43px;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.messageShare p{
    font-size: 12px;
    line-height: 22px;
    color: #666666;
    text-align: left;
}
.messageShare input{
    height: 28px;
    width: 100%;
    border: 1px solid #e4e4e4;
    color: #e4e4e4;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 10px;
}
.messageShare input.phoneNumber{
    padding-left: 10px;
    width: 94%;
}
.messageShare input.verification{
    padding-left: 10px;
    width: 94%;
}
.messageShare input.send{
    background: #34c5ff;
    font-size: 16px;
    border: none;
    height: 30px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
}
.centerRightBottom{
    width: 848px;
    border: 1px solid #e5e5e5;
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.centerRightBottom h1{
    font-size: 16px;
    color: #666666;
    font-weight: normal;
    border-left: 4px solid #3fc6ff;
    height: 16px;
    line-height: 16px;
    padding-left: 5px;
    margin-top: 14px;
}
.centerRightBottom .conterbox{
    width: 100%;
    font-size: 14px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 19px;
}
.centerRightBottom table{
    width: 100%;
}
.centerRightBottom table tr th{
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
}
.centerRightBottom table tr td{
   /*width: 25%;*/
    color: #666666;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
.centerRightBottom table tr.n1{
    background: #f8f8f8;
}
.centerRightBottom table tr.n2{
    background: #f5f7fa;
}
.centerRightBottom table tr{
    height: 44px;
}
.centerRightBottom table tr td.last{
    border-bottom: none;
}
.iconPage{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.iconPage p{
    float: right;
    height: 48px;
    line-height: 48px;
    position: relative;
}
.iconPage p span{

}

.iconPage .borderCir{
    position: absolute;
    display: inline-block;
    width: 27px;
    height: 27px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 10px;
}
.iconPage .pageNext{
    top: 0px;
    right: 75px;
}
.iconPage .pagePrevious{
    top: 0px;
    right: 205px;
}
.showColor{
    color: #00a6ff;
}
.marL52{
    margin-left: 52px;
}
/*�����ͷ*/
.pagePrevious .triangle_border_left{
    display: inline-block;
    width:0;
    height:0;
    border-width:4px 7px 4px 0;
    border-style:solid;
    border-color:transparent #333 transparent transparent;/*͸�� �� ͸�� ͸�� */
    margin: 8px;
    margin-top: 10px;
    position:absolute;
}
/*���Ҽ�ͷ*/
.pageNext .triangle_border_right{
    display: inline-block;
    width:0;
    height:0;
    border-width:4px 0 4px 7px;
    border-style:solid;
    border-color:transparent transparent transparent #00a9f1;/*͸�� ͸�� ͸�� ��*/
    margin: 10px;
    margin-top: 10px;
    position:absolute;
}
/*�����¼����*/

/*Ҫ������¼��ʼ*/
.lendRecord{
    width: 848px;
    border: 1px solid #e5e5e5;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 0px;
}
.centerRightBottom h2{
    font-size: 18px;
    color: #4a4a4a;
    height: 64px;
    line-height: 64px;
    border-bottom: 1px solid #e0e0e0;
}
.lendRecord table{
    width: 100%;
}
.lendRecord table tr th{
    text-align: left;
}
.lendRecord table tr td a{
    color: #666666;
}
/*Ҫ������¼����