@charset "UTF-8";
/*账户中心首页开始*/
.center{
    background: #f2f2f2;
}
.hzContainer{
    width: 1190px;
    margin: 0 auto;
}
.mTop{
    padding-top: 20px;
}
/*左边导航栏部分开始*/
.hzSidebarLeft {
    background-color: #f2f2f2;
    padding: 3px 0 40px;
    width: 280px;
}
.hzSidebarLeft .contentLeft {
    margin: 0 auto;
    width: 1190px;
}
.hzSidebarLeft .left {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 240px;
    padding: 40px 0 34px 40px;
    background-color: #fff;
}

.hzSidebarLeft .left ul {
    margin-bottom: 12px;
}
.hzSidebarLeft .left ul h3 {
    line-height: 22px;
    height: 22px;
    font-size: 14px;
    color: #999999;
    margin-bottom: 10px;
    padding-left: 31px;
}
.hzSidebarLeft .left ul h3.first {
    background: url("../images/account.png") no-repeat left 0px;
}
.hzSidebarLeft .left ul h3.second {
    background: url("../images/capital.png") no-repeat left 2px;
}
.hzSidebarLeft .left ul h3.third {
    background: url("../images/mission.png") no-repeat left 1px;
}
.hzSidebarLeft .left ul h3.forth {
    background: url("../images/award.png") no-repeat left 1px;
}

.hzSidebarLeft .left ul h3 em {
    display: inline-block;
    width: 20px;
    height: 22px;
    margin-right: 10px;
}
.hzSidebarLeft .left ul a {
    font-size: 16px;
    color: #666666;
    line-height: 32px;
    margin-left: 30px;
}
.hzSidebarLeft .left ul a:hover {
    color: #54c2f0;
}
/*左边导航栏部分结束*/
.personalCenter{
    width: 890px;
}
.perFirst{
    width: 93.7%;
    height: 95px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 22px 38px 41px 17px;
    background: #fff;
}
.perFirst ul li{
    float: left;
    /*margin-bottom: 17px;*/
}
.perFirst ul li.nu1{
    width: 543px;
    height: 118px;
}
.perFirst ul li.nu1 dl{
    width: 100%;
}
.perFirst ul li.nu1 dl dt{
    width: 139px;
    height: 118px;
    background: url("../images/icon-header_03.png") no-repeat 23px center;
    float: left;
    border-right: 1px solid #e0e0e0;
}
.perFirst ul li.nu1 dl dd{
    width: 245px;
    /*height: 118px;*/
    margin-left: 30px;
    float: left;
}
.perFirst ul li.nu1 dl dd.name{
    font-size: 20px;
    line-height: 36px;
    color: #0055a8;
}
.lendstyle p{
    height: 53px;
    width: 100%;
    position: relative;
}
.lendstyle p span{
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 0px;
    cursor: pointer;
}
.lendstyle p span.one{
    background: url("../images/icon-type_06.png") no-repeat 0px 0px;
    left: 0;
}
.lendstyle p span.two{
    background: url("../images/icon-type_06.png") no-repeat -40px 0px;
    left: 40px;
}
.lendstyle p span.three{
    background: url("../images/icon-type_06.png") no-repeat -80px 0px ;
    left: 80px;
}
.lendstyle .sty{
    margin-top: 5px;
}
.lendstyle .sty .cor1{
    color: #35bd7a;
}
.lendstyle .sty .cor2{
    color: #3fc6ff;
    margin-left: 20px;
}
.perFirst ul li.nu2{
    width: 288px;
    height: 118px;
    /*border-right: 1px solid #e0e0e0;*/
    border-left: 1px solid #e0e0e0;
}
.perFirst ul li.nu2 p.one{
    font-size: 16px;
    color: #666666;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.perFirst ul li.nu2 p.two{
    font-size: 22px;
    color: #0055a8;
    height: 32px;
    line-height: 32px;
    text-align: center;
}
.perFirst ul li.nu2 p.three{
    padding-left: 15px;
    margin-top: 16px;
}
.perFirst ul li.nu2 p.three a,.perFirst ul li.nu3 a{
    display: inline-block;
    width: 98px;
    height: 38px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 20px;
    line-height: 38px;
    text-align: center;
    font-size: 14px;
}
.perFirst ul li.nu2 p.three .recharge{
    border: 1px solid #4acaff;
    background: #4acaff;
    color: #ffffff;
}
.perFirst ul li.nu2 p.three .tixian{
    border: 1px solid #4acaff;
    background: #ffffff;
    color: #4acaff;
}
.perFirst ul li.nu3{
    width: 160px;
    height: 118px;
}
.perFirst ul li.nu3 a{
    border: 1px solid #dddddd;
    background: #dddddd;
    float: right;
    margin-top: 40px;
}
.perSecond,.perThrid{
    width: 888px;
    height: 158px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background: #fff;
    margin-top: 20px;
}
.perSecond ul,.perThrid ul{
    width: 100%;
}
.perSecond ul li,.perThrid ul li{
    width: 25%;
    height: 158px;
    float: left;
    text-align: center;
}
.perSecond ul li h3{
    font-size: 24px;
    color: #0055a8;
    margin-top: 55px;
}
.perSecond ul li p{
    font-size: 14px;
    color: #929292;
    margin-top: 16px;
}
.perThrid ul li h3{
    font-size: 24px;
    color: #fb7f7f;
    margin-top: 40px;
}
.perThrid ul li p.on1{
    font-size: 14px;
    color: #929292;
    margin-top: 17px;
}
.perThrid ul li p.on2{
    font-size: 14px;
    color: #3fc6ff;
    margin-top: 8px;
}
.perThrid ul li a img{
    display: inline-block;
    margin-top: 11px;
    margin-right: 10px;
}
.perFour{
    width: 828px;
    height: 238px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background: #fff;
    margin: 20px 0px 20px 0px;
    padding: 39px 30px 41px 30px;
    position: relative;
}
.perFour .left{
    width: 414px;
    height: 220px;
    border-right: 1px solid #ebebeb;
}
.perFour .right{
    width: 413px;
    height: 220px;
}
.showMessage1{
    position: absolute;
    left: 183px;
    top: 161px
}
.showMessage2{
    position: absolute;
    right: 178px;
    top: 161px
}
.showMessage1 p,.showMessage2 p{
    text-align: center;
}
.showMessage1 .nu1,.showMessage2 .nu1{
    font-size: 14px;
    color: #929292;
    height: 30px;
    line-height: 30px;
}
.showMessage1 .nu2,.showMessage2 .nu2{
    font-size: 16px;
    color: #929292;
    height: 34px;
    line-height: 34px;
}
.noOpen{
    width: 888px;
    height: 58px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background: #fff;
    margin-top: 20px;
}
.noOpen p{
    height: 58px;
    line-height: 58px;
    padding-left: 40px;
    color: #999999;
}
.noOpen p a{
    display: inline-block;
    float: right;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background: #ffc323;
    margin-right: 30px;
    margin-top: 15px;
    color: #fff;
}
.perFour .left h3{
    font-size: 16px;
    color: #666666;
    border-left: 4px solid #3fc6ff;
    padding-left: 6px;
    height: 15px;
    line-height: 15px;
    margin-bottom: 15px;
}
.perFour .right h3{
    font-size: 16px;
    color: #666666;
    border-left: 4px solid #3fc6ff;
    padding-left: 6px;
    height: 15px;
    line-height: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}
/*安全信息开始*/
.informationCont{
    width: 848px;
    border: 1px solid #e5e5e5;
    padding: 0px 20px 20px 20px;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 30px;
}
.inforTit{
    height: 73px;
    line-height: 72px;
    color: #999999;
    font-size: 18px;
    border-bottom: 1px solid #e0e0e0;
}
.inforTit li{
    float: left;
    /*width: 100px;*/
    text-align: center;
}
.inforTit .nowColor{
    display: inline-block;
}
.inforTit li a{
    display: inline-block;
    margin: 0px 10px;
}
.inforTit li a.curColor{
    display: inline-block;
    border-bottom: 2px solid #3fc6ff;
    color: #3fc6ff;
}
.safeInfo{
    padding: 0px 20px;
    margin-bottom: 161px;
}
.safeInfo table{
    width: 100%;
    font-size: 14px;
    color: #999999;
}
.safeInfo table tr{
    height: 69px;
    border-bottom: 1px solid #f4f4f4;
}
.safeInfo table tr td.wid1{
    width: 15%;
    color: #666666;
}
.safeInfo table tr td.wid2{
    width: 60%;
}
.safeInfo table tr td.rig{
    width: 15%;
    padding-left: 20px;
    background: url("../images/right_ico.png") no-repeat left center;
}
.safeInfo table tr td.err{
    width: 15%;
    padding-left: 20px;
    background: url("../images/error-ico.jpg") no-repeat left center;
}
.safeInfo table tr td.wid4{
    width: 10%;
}
.safeInfo table tr td a{
    color: #4acaff;
}
/*安全信息结束*/
/*基本信息编辑开始*/
.inforContent .main{
    display: none;
}
.baseInfo .basicIn{
    padding: 8px 0px 30px 20px;
    border-bottom: 1px solid #ebebeb;
}
.baseInfo .basicIn h3{
    font-size: 16px;
    color: #666666;
    border-left: 4px solid #3fc6ff;
    padding-left: 5px;
    margin-top: 20px;
}
.baseInfo .basicIn p{
    height: 60px;
    /*line-height: 40px;*/
    font-size: 14px;
    color: #666666;
    /*margin-top: 20px;*/
}
.baseInfo .basicIn p span{
    display: inline-block;
    width: 130px;
    text-align: right;
}
.baseInfo .basicIn p span.maL15{
    margin-left: 15px;
}
.baseInfo .basicIn p input{
    width: 190px;
    height: 38px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding-left: 10px;
    color: #666666;
}
.baseInfo .basicIn p select{
    width: 200px;
    height: 38px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    color: #666666;
    font-size: 14px;
    font-family: "微软雅黑", "Microsoft YaHei";
    color: #666666;
}
.baseInfo .basicIn p.nowLocation select{
    width: 188px;
}
.baseInfo .basicIn p select option{
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    font-family: "微软雅黑", "Microsoft YaHei";
}
.baseInfo .basicIn p input.starTime,
.baseInfo .basicIn p input.endTime{
    width: 118px;
    height: 38px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background: url("../images/timer_03.png") no-repeat 106px center;
    cursor: pointer;
}
.baseInfo .basicIn p select.isbuyHouse,
.baseInfo .basicIn p select.buyType{
    height: 38px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.baseInfo .basicIn p select.isbuyHouse{
    width: 78px;
}
.baseInfo .basicIn p select.buyType{
    width: 110px;
}
.maL20{
    margin-left: 25px;
}
.baseInfo .borBotno{
    border-bottom: none;
}
.isSave{
    margin: 30px 0px 40px 75px;
}
.isSave input{
    width: 148px;
    height: 38px;
    border: 1px solid #4acaff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer;
}
.isSave input.save{
    background: #4acaff;
    color: #ffffff
}
.isSave input.cancle{
    background: #ffffff;
    color: #4acaff;
}
.inforContent li.selected{
    display: block;
}
/*基本信息编辑结束*/
/*个人信息开始*/
.baseInfo .basicIn p{
    width: 100%;

}
.baseInfo .basicIn p span.one{
    width: 20%;
    text-align: right;!important;
}
.baseInfo .basicIn p span.two{
    width: 29%;
    text-align: left;!important;
}
.baseInfo .basicIn h3 a{
    float: right;
    color: #4acaff;
    font-size: 14px;
}
/*新加*/
.baseInfo .basicIn p lable{
    width: 414px;
    height: 60px;
    display: inline-block;
    float: left;
}
.baseInfo .basicIn p .errInput{
    width: 262px;
    padding-left: 152px;
    text-align: left;
    color: #e25163;
    background: url("../images/error-ico.jpg") no-repeat 135px center;
}
/*个人信息结束*/

/*分页开始*/
.iconPage{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.iconPage p{
    float: right;
    height: 48px;
    line-height: 48px;
    position: relative;
}
.iconPage p span{

}

.iconPage .borderCir{
    position: absolute;
    display: inline-block;
    width: 27px;
    height: 27px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.iconPage .pageNext{
    top: 0px;
    right: 58px;
}
.iconPage .pagePrevious{
    top: 0px;
    right: 186px;
}
.showColor{
    color: #00a6ff;
}
.marL52{
    margin-left: 52px;
}
/*向左箭头*/
.pagePrevious .triangle_border_left{
    display: inline-block;
    width:0;
    height:0;
    border-width:7px 7px 7px 0;
    border-style:solid;
    border-color:transparent #333 transparent transparent;/*閫忔槑 鐏� 閫忔槑 閫忔槑 */
    margin: 8px;
    position:relative;
}
/*向右箭头*/
.pageNext .triangle_border_right{
    display: inline-block;
    width:0;
    height:0;
    border-width:6px 0 6px 7px;
    border-style:solid;
    border-color:transparent transparent transparent #00a9f1;/*閫忔槑 閫忔槑 閫忔槑 鐏�*/
    margin:8px 10px;
    position:relative;
}
/*分页结束*/





.centerRightBottom{
    width: 848px;
    border: 1px solid #e5e5e5;
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.centerRightBottom h1{
    font-size: 16px;
    color: #666666;
    font-weight: normal;
    border-left: 4px solid #3fc6ff;
    height: 16px;
    line-height: 16px;
    padding-left: 5px;
    margin-top: 14px;
}
.centerRightBottom .conterbox{
    width: 100%;
    font-size: 14px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 19px;
}
.centerRightBottom table{
    width: 100%;
}
.centerRightBottom table tr th{
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
}
.centerRightBottom table tr td{
    /*width: 25%;*/
    color: #666666;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
.centerRightBottom table tr.n1{
    background: #f8f8f8;
}
.centerRightBottom table tr.n1 .borBotLef{
    border-radius: 0px 0px 0px 5px;
    -webkit-border-radius: 0px 0px 0px 5px;
    -moz-border-radius: 0px 0px 0px 5px;
    -o-border-radius: 0px 0px 0px 5px;
}
.centerRightBottom table tr.n1 .borBotRig{
    border-radius: 0px 0px 5px 0px;
    -webkit-border-radius: 0px 0px 5px 0px;
    -moz-border-radius: 0px 0px 5px 0px;
    -o-border-radius: 0px 0px 5px 0px;
}
.centerRightBottom table tr.n2{
    background: #f5f7fa;
}
.centerRightBottom table tr{
    height: 44px;
}
.centerRightBottom table tr td.last{
    border-bottom: none;
}
.iconPage{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.iconPage p{
    float: right;
    height: 48px;
    line-height: 48px;
    position: relative;
}
.iconPage p span{

}

.iconPage .borderCir{
    position: absolute;
    display: inline-block;
    width: 27px;
    height: 27px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.iconPage .pageNext{
    top: 0px;
    right: 58px;
}
.iconPage .pagePrevious{
    top: 0px;
    right: 186px;
}
.showColor{
    color: #00a6ff;
}
.marL52{
    margin-left: 52px;
}
/*向左箭头*/
.pagePrevious .triangle_border_left{
    display: inline-block;
    width:0;
    height:0;
    border-width:7px 7px 7px 0;
    border-style:solid;
    border-color:transparent #333 transparent transparent;/*透明 灰 透明 透明 */
    margin: 8px;
    position:relative;
}
/*向右箭头*/
.pageNext .triangle_border_right{
    display: inline-block;
    width:0;
    height:0;
    border-width:6px 0 6px 7px;
    border-style:solid;
    border-color:transparent transparent transparent #00a9f1;/*透明 透明 透明 灰*/
    margin:8px 10px;
    position:relative;
}
/*邀请记录结束*/

/*要清出借记录开始*/
.lendRecord{
    width: 848px;
    border: 1px solid #e5e5e5;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 0px;
}
.centerRightBottom h2{
    font-size: 18px;
    color: #4a4a4a;
    height: 64px;
    line-height: 64px;
    border-bottom: 1px solid #e0e0e0;
}



/*安全信息开始*/
.informationCont{
    width: 848px;
    border: 1px solid #e5e5e5;
    padding: 0px 20px 20px 20px;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 30px;
}
.inforTit{
    height: 73px;
    line-height: 72px;
    color: #999999;
    font-size: 18px;
    border-bottom: 1px solid #e0e0e0;
}
.inforTit li{
    float: left;
    /*width: 100px;*/
    text-align: center;
}
.inforTit .nowColor{
    display: inline-block;
}
.inforTit li a{
    display: inline-block;
    margin: 0px 10px;
}
.inforTit li a.curColor{
    display: inline-block;
    border-bottom: 2px solid #3fc6ff;
    color: #3fc6ff;
}
.safeInfo{
    padding: 0px 20px;
    margin-bottom: 161px;
}
.safeInfo table{
    width: 100%;
    font-size: 14px;
    color: #999999;
}
.safeInfo table tr{
    height: 69px;
    border-bottom: 1px solid #f4f4f4;
}
.safeInfo table tr td.wid1{
    width: 15%;
    color: #666666;
}
.safeInfo table tr td.wid2{
    width: 60%;
}
.safeInfo table tr td.rig{
    width: 15%;
    padding-left: 20px;
    background: url("../images/right_ico.png") no-repeat left center;
}
.safeInfo table tr td.err{
    width: 15%;
    padding-left: 20px;
    background: url("../images/error-ico.jpg") no-repeat left center;
}
.safeInfo table tr td.wid4{
    width: 10%;
}
.safeInfo table tr td a{
    color: #4acaff;
}
/*安全信息结束*/
/*基本信息编辑开始*/
.inforContent .main{
    display: none;
}
.baseInfo .basicIn{
    padding: 8px 0px 30px 20px;
    border-bottom: 1px solid #ebebeb;
}
.baseInfo .basicIn h3{
    font-size: 16px;
    color: #666666;
    border-left: 4px solid #3fc6ff;
    padding-left: 5px;
    margin-top: 20px;
}
.baseInfo .basicIn p{
    height: 60px;
    /*line-height: 40px;*/
    font-size: 14px;
    color: #666666;
    /*margin-top: 20px;*/
}
.baseInfo .basicIn p span{
    display: inline-block;
    width: 130px;
    text-align: right;
}
.baseInfo .basicIn p span.maL15{
    margin-left: 15px;
}
.baseInfo .basicIn p input{
    width: 190px;
    height: 38px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding-left: 10px;
    color: #666666;
}
.baseInfo .basicIn p select{
    width: 200px;
    height: 38px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    color: #666666;
    font-size: 14px;
    font-family: "微软雅黑", "Microsoft YaHei";
    color: #666666;
}
.baseInfo .basicIn p.nowLocation select{
    width: 188px;
}
.baseInfo .basicIn p select option{
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    font-family: "微软雅黑", "Microsoft YaHei";
}
.baseInfo .basicIn p input.starTime,
.baseInfo .basicIn p input.endTime{
    width: 118px;
    height: 38px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background: url("../images/timer_03.png") no-repeat 106px center;
    cursor: pointer;
}
.baseInfo .basicIn p select.isbuyHouse,
.baseInfo .basicIn p select.buyType{
    height: 38px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.baseInfo .basicIn p select.isbuyHouse{
    width: 78px;
}
.baseInfo .basicIn p select.buyType{
    width: 110px;
}
.maL20{
    margin-left: 25px;
}
.baseInfo .borBotno{
    border-bottom: none;
}
.isSave{
    margin: 30px 0px 40px 75px;
}
.isSave input{
    width: 148px;
    height: 38px;
    border: 1px solid #4acaff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer;
}
.isSave input.save{
    background: #4acaff;
    color: #ffffff
}
.isSave input.cancle{
    background: #ffffff;
    color: #4acaff;
}
.inforContent li.selected{
    display: block;
}
/*基本信息编辑结束*/
/*个人信息开始*/
.baseInfo .basicIn p{
    width: 100%;

}
.baseInfo .basicIn p span.one{
    width: 20%;
    text-align: right;!important;
}
.baseInfo .basicIn p span.two{
    width: 29%;
    text-align: left;!important;
}
.baseInfo .basicIn h3 a{
    float: right;
    color: #4acaff;
    font-size: 14px;
}
/*新加*/
.baseInfo .basicIn p lable{
    width: 414px;
    height: 60px;
    display: inline-block;
    float: left;
}
.baseInfo .basicIn p .errInput{
    width: 262px;
    padding-left: 152px;
    text-align: left;
    color: #e25163;
    background: url("../images/error-ico.jpg") no-repeat 135px center;
}
/*个人信息结束*/

/*分页开始*/
.iconPage{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.iconPage p{
    float: right;
    height: 48px;
    line-height: 48px;
    position: relative;
}
.iconPage p span{

}

.iconPage .borderCir{
    position: absolute;
    display: inline-block;
    width: 27px;
    height: 27px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.iconPage .pageNext{
    top: 0px;
    right: 58px;
}
.iconPage .pagePrevious{
    top: 0px;
    right: 186px;
}
.showColor{
    color: #00a6ff;
}
.marL52{
    margin-left: 52px;
}
/*向左箭头*/
.pagePrevious .triangle_border_left{
    display: inline-block;
    width:0;
    height:0;
    border-width:7px 7px 7px 0;
    border-style:solid;
    border-color:transparent #333 transparent transparent;/*閫忔槑 鐏? 閫忔槑 閫忔槑 */
    margin: 8px;
    position:relative;
}
/*向右箭头*/
.pageNext .triangle_border_right{
    display: inline-block;
    width:0;
    height:0;
    border-width:6px 0 6px 7px;
    border-style:solid;
    border-color:transparent transparent transparent #00a9f1;/*閫忔槑 閫忔槑 閫忔槑 鐏?*/
    margin:8px 10px;
    position:relative;
}
/*分页结束*/



.experience{position:relative;width:100%;font-weight:200;}
.experience ul{position:absolute;right:38px;top:0;z-index:9;}
.experience ul li{float:left;font-size:14px;color:#666;}
.experience ul li span{display:inline-block;outline:none;padding: 0 15px;}
.tabTitle .current{color:#4acaff;border-bottom:2px solid #4acaff;}
.table1 i{width:22px;height:22px;display:inline-block;vertical-align:middle;}
.overdue{background:url(../images/overdue.png);margin-right:5px;}
.table1 th{font-size:14px;}
.centerRightBottom table tr td.c1,.c1{color:#52cbfe;}

/*弹窗 start*/
.xieyiBj{
	background: #000000;
	opacity: 0.2;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
 .jihua{
	position: absolute;
	left: 28%;
	top: 10%;
	width: 620px;
	height: 255px;
	background: #FFFFFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-bottom: 20px;
	height: 530px;
}
.jihua a{
	float: right;
	color: #52cbfe;
}
.jihua h3{
	padding:0 30px;
	font-weight: 400;
	font-size: 18px;
	height: 55px;
	line-height: 55px;
	color: #666666;
	border-bottom: 2px solid #4acaff;
}
 .jihua .jine{
 	overflow: hidden;
 }
 .jihua .biaoge{
 	padding: 30px 0 34px 30px;
 	overflow: hidden;
 }
 .jihua .biaoge .jine li{
 	float: left;
 	width: 195px;
 	height: 32px;
 	font-size: 14px;
 	color: #333333;
 }
 .jihua .biaoge .jine li em{
 	color: #f1566a;
 	font-style: normal;
 	margin: 0 35px 0 10px;
 }
 .jihua .table{
 	width: 560px;
 	border: 1px solid #e7e7e7;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 	position: relative;
 	/*padding-left: 20px;*/
 }
 .jihua .table th{
 	background: #f9f9f9;
 	border-bottom: 1px solid #e6e6e6;
 }
 .jihua .ye{
 	float: right;
 	margin-right: 30px;
 }
 .jihua .ye li{
 	float: left;
 }
 .jihua .ye li a{
 	width: 32px;
 	height: 32px;
 	border: 1px solid #e0e0e0;
 	margin: 20px 0 0 8px;
 	color: #666666;
 	text-align: center;
 	line-height: 32px;
 	display: block;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }
 .jihua .ye li a.active{
 	color: #FFFFFF;
 	background: #34c5ff;
 	border: none;
 }
   table tr{
    height: 44px;
}
table{
    width: 100%;
}
  table tr th{
    text-align: left;
    padding-left:50px;
    border-bottom: 1px solid #fff;
	
}
  table tr td{
   /*width: 25%;*/
    color: #666666;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
	padding-left:50px;
	position:relative;
}
.table .yu{
	width: 25px;
	height: 25px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	background: #ffc323;
	line-height: 25px;
	text-align: center;
	display:inline-block;
	position:absolute;
	top: 7px;
	left: 20px;
	color: #FFFFFF;
}
.table .Dcolor{
	color: #cccccc;
}

/*弹窗 end*/