@charset "utf-8";
/*reset*/
body,div,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,iframe,input,textarea,select,label,article,aside,footer,header,menu,nav,section,time,audio,video {margin:0; padding:0;}
article,aside,footer,header,nav,section,audio,canvas,video,img {display: block;}
body {font-size: 20px; color: #999; background: #ffffff; font-family:"微软雅黑";  -webkit-text-size-adjust: 100%;  -ms-text-size-adjust: 100%; -webkit-tap-highlight-color:rgba(0,0,0,0); position: relative }
textarea { resize: none;}
iframe,img { border:0;}
img {
    vertical-align: middle;
    font-size: 0;
    border: 0;
    -ms-interpolation-mode: bicubic
}
ul,ol { list-style:none;}
input,select,textarea {outline: 0; -webkit-user-modify: read-write-plaintext-only;}
input {/* -webkit-appearance: none; */border: 0}
a{text-decoration: none;}
html{font-size: 100px;}
.lL{float: left}
.rR{float: right}
.clear{clear: both}

/*公共样式 end*/


.wrap{
    height: 100%;
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
    padding:0 0 1px 0;
    background: #fae82f;
}
.banner{margin-bottom:63px;}
.synopsis,.rule,.explain,.deal{width:92%;margin:0 auto;background:#fddb15;border-radius:8px;position:relative;margin-bottom:56px;padding-top:70px;}
.synopsis h3,.rule h3,.explain h3,.deal h3{position:absolute;left:0;top:-27px;}
.synopsis p{font-size:24px;color:#737373;padding:0px 30px 35px;}
.sum{width:85%;margin:0 auto;text-align:center;border-radius:100px;padding:10px 0 20px 0;}
.sum p{padding:0px;}
.s1{font-size:20px;color:#ff791f;}
.s2{font-size:32px;color:#ff791f;}
.s3{font-size:20px;color:#ff791f;}
.synopsis .number2{color:#ff791f;font-size:50px;font-weight:200;}
.synopsis .number2 .yuan{font-size:26px;}
.date{color:#737373;font-size:24px;}
.rule{padding-bottom:15px;}
.awardBox{width:95%;margin:0 auto 32px auto;color:#737373;background:#f9e745;border-radius:200px;}
.money{background:url(../images/bg1.png);width:178px;height:178px;float:left;position:relative;}
.number{position:absolute;top:44px;left:31px;color:#ff6c18;font-size:32px;width:112px;text-align:center;}
.number span{font-size:17px;color:#656565;}
.explainRule{position:absolute;top:104px;left:30px;font-size:20px;color:#fff;}
.awardBox p{padding:15px 50px 15px 192px;font-size:22px;line-height:34px;color:#737373;}
.c1{color:#fe7930;}




.explain{padding:auto 20px;padding-bottom:30px;}
.explain table{border-collapse:collapse;font-size:24px;color:#737373;width:95%;margin:0 auto;}
.explain table td{padding:8px 5px;line-height:37px;}
.explain table b{width:52px;height:52px;line-height:52px;text-align:center;background:#fae92e;display:inline-block;border-radius:50%;color:#fff;font-size:36px;font-weight:200;}