@charset "UTF-8";

.wrap{
    height: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    min-height:100%;
    padding: 0;
}
.hzTitle{
    width: 91%;
    padding: 0 4.5%;
    height: 88px;
    background: #3fc6ff;
    line-height: 88px;
}
.hzTitle h3{
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 36px;
}
.hzTitle h3 a{
    display: inline-block;
    width: 21px;
    height: 88px;
    background: url("../images/fanhui_03.png") no-repeat center;
    float: left;
}
.formCont{
    width: 100%;
}
.titleName{
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
}
.titleName h3{
    line-height: 50px;
    width: 91%;
    padding: 0 4.5%;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 30px;
    color: #444444;
    font-weight: normal;
}
.formCont ul{
    width: 93%;
    background: #fff;
    padding-left: 7%;
    color: #888888;
}
.formCont ul li{
    height: 98px;
    line-height: 98px;
    border-top: 1px solid #e4e4e4;
}
.formCont ul li:first-child{
    border-top: none;
}
.formCont ul li input{
    display: inline-block;
    width: 31px;
    height: 31px;
    border: 1px solid #e4e4e4;
    float: left;
    margin-top: 32px;
    cursor: pointer;
}
.formCont ul li span{
    display: inline-block;
    margin-left: 20px;
}
.formBottom{
    margin-top: 40px;
    width: 91%;
    padding: 0 4.5%;
}
.formBottom p{
    width: 100%;
    text-align: center;
}
.formBottom p a{
    display: inline-block;
    float: left;
    color: #3fc6ff;
}
.btnSubmit{
    width: 91%;
    margin-top: 120px;
    padding: 0 4.5%;
}
.btnSubmit button,.rightCont a{
    width: 100%;
    height: 98px;
    font-size: 24px;
    color: #ffffff;
    background: #4acaff;
    border-radius: 5px;
}
.btnSubmit button{
    border: none;
}
.rightCont a{
    display: inline-block;
    text-align: center;
    line-height: 98px;
    margin-top: 162px;
}
.rightCont{
    width: 91%;
    padding: 0 4.5%;
}
.rightCont .conImg{
    margin-top: 213px;
    width: 100%;
    height: 206px;
    background: url("../images/right_03.png") no-repeat center;
}
.all{
    background: #fff;
}
.rightCont p{
    text-align: center;
    font-size: 38px;
    line-height: 76px;
    color: #888888;
    margin-top: 15px;
}

/*弹窗部分开始*/
.mask{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    display: none;
}
.maskContent{
    width: 86%;
    margin: 0 auto;
    height: 388px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -43%;
    margin-top: -194px;
    border-radius: 5px;
    color: #444444;
    display: none;
}
.maskContent h3{
    height: 104px;
    line-height: 104px;
    border-bottom: 1px solid #d8d8da;
    text-align: center;
    font-size: 32px;
}
.maskContent p{
    text-align: center;
    height: 138px;
    line-height: 138px;
    font-size: 30px;
}
.btnMask{
    height: 145px;
    width: 100%;
}
.btnMask a{
    display: inline-block;
    width: 248px;
    height: 78px;
    border: 1px solid #3fc6ff;
    line-height: 80px;
    text-align: center;
    margin-left: 14px;
    border-radius: 5px;
}
.btnMask a.cancle{
    background: #3fc6ff;
    color: #fff;
}
.btnMask a.sure{
    background: #fff;
    color: #3fc6ff;
}
/*弹窗部分结束*/