.center{
    background: #f2f2f2;
}
.hzContainer{
    width: 1190px;
    margin: 0 auto;
}
.mTop{
    padding-top: 20px;
}
/*��ߵ��������ֿ�ʼ*/
.hzSidebarLeft {
    background-color: #f2f2f2;
    padding: 3px 0 40px;
    width: 280px;
}
.hzSidebarLeft .contentLeft {
    margin: 0 auto;
    width: 1190px;
}
.hzSidebarLeft .left {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 240px;
    padding: 40px 0 34px 40px;
    background-color: #fff;
}

.hzSidebarLeft .left ul {
    margin-bottom: 12px;
}
.hzSidebarLeft .left ul h3 {
    line-height: 22px;
    height: 22px;
    font-size: 14px;
    color: #999999;
    margin-bottom: 10px;
    padding-left: 31px;
}
.hzSidebarLeft .left ul h3.first {
    background: url("../images/account.png") no-repeat left 0px;
}
.hzSidebarLeft .left ul h3.second {
    background: url("../images/capital.png") no-repeat left 2px;
}
.hzSidebarLeft .left ul h3.third {
    background: url("../images/mission.png") no-repeat left 1px;
}
.hzSidebarLeft .left ul h3.forth {
    background: url("../images/award.png") no-repeat left 1px;
}

.hzSidebarLeft .left ul h3 em {
    display: inline-block;
    width: 20px;
    height: 22px;
    margin-right: 10px;
}
.hzSidebarLeft .left ul a {
    font-size: 16px;
    color: #666666;
    line-height: 32px;
    margin-left: 30px;
}
.hzSidebarLeft .left ul a:hover {
    color: #54c2f0;
}
/*��ߵ��������ֽ���*/
/*�����¼��ʼ*/
.contenerRight{
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.contenerRight .fenxiangLink{
    margin: 30px;
    width: 93%;
    height: 112px;
    background: #f5f5f5;
    position: relative;
}
.fenxiangLink p{
    font-size: 16px;
    color: #666666;
    line-height: 112px;
    padding-left: 43px;
}
.fenxiangLink input{
    width: 512px;
    height: 46px;
    font-size: 16px;
    color: #aaaaaa;
    border: 1px solid #e4e4e4;
    margin-left: 12px;
    margin-top: 30px;
    padding-left: 30px;
}
.fenxiangLink .triangle_border_up{
    display: inline-block;
    width:0;
    height:0;
    border-width:17px 17px 0;
    border-style:solid;
    border-color:#f5f5f5 transparent transparent;
    margin: 40px auto;
    left: 50%;
    margin-left: -15px;
    top: 63%;
    position:absolute;
}
.shareLink{
    width: 87%;
    height: 52px;
    margin: 30px 60px;
    position: relative;
}
.shareLink a{
    display: inline-block;
    width: 178px;
    height: 52px;
    background: #333;
    text-align: center;
    line-height: 52px;
    font-size: 16px;
    margin-left: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding-left: 5px;
    padding-left: 22px;
    /*position: relative;*/
}
.shareLink .weibo{
    color: #d52b2a;
    background: url("../images/share-weibo.png") #fee38f no-repeat 43px center;
}
.shareLink .weixin{
    color: #fff;
    background: url("../images/share-weixin.png") #00ce0d no-repeat 43px center;
}
.shareLink .duanxin{
    color: #fff;
    background: url("../images/share-duanxin.png") #23cd40 no-repeat 43px center;
}
.showCord{
    display: none;
    position: absolute;
    width: 198px;
    height: 172px;
    border: 1px solid #00ce0d;
    top: 50px;
    left: 50%;
    margin-left: -103px;
    background: url("../images/shareCord_03.png") #fff no-repeat center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.messageShare{
    display: none;
    width: 178px;
    padding: 10px;
    border: 1px solid #00ce0d;
    position: absolute;
    top: 50px;
    right: 43px;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.messageShare p{
    font-size: 12px;
    line-height: 22px;
    color: #666666;
    text-align: left;
}
.messageShare input{
    height: 28px;
    width: 100%;
    border: 1px solid #e4e4e4;
    /*color: #e4e4e4;*/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 10px;
}
.messageShare input.phoneNumber{
    padding-left: 10px;
    width: 94%;
}
.messageShare input.verification{
    padding-left: 10px;
    width: 94%;
}
.messageShare input.send{
    background: #34c5ff;
    font-size: 16px;
    border: none;
    height: 30px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
}
.centerRightBottom{
    width: 848px;
    border: 1px solid #e5e5e5;
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.centerRightBottom h1{
    font-size: 16px;
    color: #666666;
    font-weight: normal;
    border-left: 4px solid #3fc6ff;
    height: 16px;
    line-height: 16px;
    padding-left: 5px;
    margin-top: 14px;
}
.centerRightBottom .conterbox{
    width: 100%;
    font-size: 14px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 19px;
}
.centerRightBottom table{
    width: 100%;
}
.centerRightBottom table tr th{
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
}
.centerRightBottom table tr td{
   /*width: 25%;*/
    color: #666666;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
.centerRightBottom table tr.n1{
    background: #f8f8f8;
}
.centerRightBottom table tr.n2{
    background: #f5f7fa;
}
.centerRightBottom table tr{
    height: 44px;
}
.centerRightBottom table tr td.last{
    border-bottom: none;
}
.iconPage{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.iconPage p{
    float: right;
    height: 48px;
    line-height: 48px;
    position: relative;
}
.iconPage p span{

}

.iconPage .borderCir{
    position: absolute;
    display: inline-block;
    width: 27px;
    height: 27px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.iconPage .pageNext{
    top: 0px;
    right: 58px;
}
.iconPage .pagePrevious{
    top: 0px;
    right: 186px;
}
.showColor{
    color: #00a6ff;
}
.marL52{
    margin-left: 52px;
}
/*�����ͷ*/
.pagePrevious .triangle_border_left{
    display: inline-block;
    width:0;
    height:0;
    border-width:7px 7px 7px 0;
    border-style:solid;
    border-color:transparent #333 transparent transparent;/*͸�� �� ͸�� ͸�� */
    margin: 8px;
    position:relative;
}
/*���Ҽ�ͷ*/
.pageNext .triangle_border_right{
    display: inline-block;
    width:0;
    height:0;
    border-width:6px 0 6px 7px;
    border-style:solid;
    border-color:transparent transparent transparent #00a9f1;/*͸�� ͸�� ͸�� ��*/
    margin:8px 10px;
    position:relative;
}
/*�����¼����*/

/*Ҫ������¼��ʼ*/
.lendRecord{
    width: 848px;
    border: 1px solid #e5e5e5;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 0px;
}
.centerRightBottom h2{
    font-size: 18px;
    color: #4a4a4a;
    height: 64px;
    line-height: 64px;
    border-bottom: 1px solid #e0e0e0;
}
.lendRecord table{
    width: 100%;
}
.lendRecord table tr th{
    text-align: left;
}
.lendRecord table tr td a{
    color: #666666;
}
/*Ҫ������¼����*/

/*��ȫ��Ϣ��ʼ*/
.informationCont{
    width: 848px;
    border: 1px solid #e5e5e5;
    padding: 0px 20px 20px 20px;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 30px;
}
.inforTit{
    height: 73px;
    line-height: 72px;
    color: #999999;
    font-size: 18px;
    border-bottom: 1px solid #e0e0e0;
}
.inforTit li{
    float: left;
    /*width: 100px;*/
    text-align: center;
}
.inforTit .nowColor{
    display: inline-block;
}
.inforTit li a{
   display: inline-block;
   margin: 0px 10px;
}
.inforTit li a.curColor{
    display: inline-block;
    border-bottom: 2px solid #3fc6ff;
    color: #3fc6ff;
}
.safeInfo{
    padding: 0px 20px;
    margin-bottom: 161px;
}
.safeInfo table{
    width: 100%;
    font-size: 14px;
    color: #999999;
}
.safeInfo table tr{
    height: 69px;
    border-bottom: 1px solid #f4f4f4;
}
.safeInfo table tr td.wid1{
    width: 15%;
    color: #666666;
}
.safeInfo table tr td.wid2{
    width: 60%;
}
.safeInfo table tr td.rig{
    width: 15%;
    padding-left: 20px;
    background: url("../images/right_ico.png") no-repeat left center;
}
.safeInfo table tr td.err{
    width: 15%;
    padding-left: 20px;
    background: url("../images/error-ico.jpg") no-repeat left center;
}
.safeInfo table tr td.wid4{
    width: 10%;
}
.safeInfo table tr td a{
    color: #4acaff;
}
/*��ȫ��Ϣ����*/
/*����Ϣ�༭��ʼ*/
.inforContent .main{
    display: none;
}
.baseInfo .basicIn{
    padding: 8px 0px 30px 20px;
    border-bottom: 1px solid #ebebeb;
}
.baseInfo .basicIn h3{
    font-size: 16px;
    color: #666666;
    border-left: 4px solid #3fc6ff;
    padding-left: 5px;
    margin-top: 20px;
}
.baseInfo .basicIn p{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666666;
    margin-top: 20px;
}
.baseInfo .basicIn p span{
    display: inline-block;
    width: 145px;
    text-align: right;
}
.baseInfo .basicIn p span.maL15{
    margin-left: 15px;
}
.baseInfo .basicIn p input{
    width: 190px;
    height: 38px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding-left: 10px;
    color: #666666;
}
.baseInfo .basicIn p select{
    width: 200px;
    height: 38px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    color: #666666;
    font-size: 14px;
    font-family: "΢���ź�", "Microsoft YaHei";
    color: #666666;
}
.baseInfo .basicIn p.nowLocation select{
    width: 188px;
}
.baseInfo .basicIn p select option{
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    font-family: "΢���ź�", "Microsoft YaHei";
}
.baseInfo .basicIn p input.starTime,
.baseInfo .basicIn p input.endTime{
    width: 118px;
    height: 38px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background: url("../images/timer_03.png") no-repeat 106px center;
    cursor: pointer;
}
.baseInfo .basicIn p select.isbuyHouse,
.baseInfo .basicIn p select.buyType{
    height: 38px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.baseInfo .basicIn p select.isbuyHouse{
    width: 78px;
}
.baseInfo .basicIn p select.buyType{
    width: 110px;
}
.maL20{
    margin-left: 25px;
}
.baseInfo .borBotno{
    border-bottom: none;
}
.isSave{
    margin: 30px 0px 40px 75px;
}
.isSave input{
    width: 148px;
    height: 38px;
    border: 1px solid #4acaff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer;
}
.isSave input.save{
    background: #4acaff;
    color: #ffffff
}
.isSave input.cancle{
    background: #ffffff;
    color: #4acaff;
}
.inforContent li.selected{
    display: block;
}
/*����Ϣ�༭����*/
/*������Ϣ��ʼ*/
.baseInfo .basicIn p{
    width: 100%;

}
.baseInfo .basicIn p span.one{
    width: 20%;
    text-align: right;!important;
}
.baseInfo .basicIn p span.two{
    width: 29%;
    text-align: left;!important;
}
.baseInfo .basicIn h3 a{
    float: right;
    color: #4acaff;
    font-size: 14px;
}
/*������Ϣ����*/

/*�����俪ʼ*/
.emailVerifi{
    width: 848px;
    border: 1px solid #e5e5e5;
    padding: 20px 20px 20px 20px;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 30px;
}
.emailVerifi h3{
    font-size: 18px;
    color: #4a4a4a;
    line-height: 38px;
}
.verifiCont{
    margin-top: 12px;
    border-top: 1px solid #e0e0e0;
}
.verifiCont ul{
    height: 45px;
    margin-left: 110px;
    margin-top: 40px;
}

.verifiCont ul li{
    float: left;
}
.verifiCont ul li.num1{
    width: 52px;
    height: 45px;
    margin-left: 10px;
}
.verifiCont ul li.num2{
    width: 220px;
    height: 2px;
    background: #ecedef;
    margin-top: 20px;
}
.verifiCont p{
    font-size: 14px;
    width: 100%;
    height: 28px;
    line-height: 28px;
    color: #b9bfc9;
}
.verifiCont p span{
    display: inline-block;
    width: 33%;
    text-align: center;
}
.verifiCont p span.nu1{
    color: #34c5ff;
}
.verifiInfor{
    width: 320px;
    margin: 110px auto 193px;
}
.verifiInfor p{
    color: #666666;
}
.verifiInfor input{
    width: 308px;
    height: 38px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding-left: 10px;
    /*color: #dfdfdf;*/
}
.verifiInfor .inpNumber{
    position: relative;
    margin-top: 15px;
}
.verifiInfor span{
    position: absolute;
    display: inline-block;
    width: 90px;
    height: 20px;
    text-align: center;
    border-left: 1px solid #dfdfdf;
    right: 0px;
    top: 10px;
    cursor: pointer;
    color: #034ca0;
}
.verifiInfor .bottom a{
    display: inline-block;
    width: 148px;
    height: 38px;
    border: 1px solid #34c5ff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    margin-top: 20px;
}
.verifiInfor .bottom a.nextStep{
    color: #ffffff;
    background: #34c5ff;
}
.verifiInfor .bottom a.return{
    background: #ffffff;
    color: #34c5ff;
}
.verifiCont .succImg{
    display: block;
    width: 100px;
    height: 100px;
    margin: 110px auto 0px;
}
.verifiCont .successful{
    text-align: center;
    font-size: 24px;
    color: #444444;
    line-height: 60px;
    height: 60px;
    margin-top: 5px;
}
.verifiCont .jump{
    font-size: 14px;
    color: #999999;
    text-align: center;
    margin-bottom: 208px;
}
.verifiCont .jump a{
    color: #34c5ff;
}
.newPassword input{
    margin-top: 20px;
}
.newPassword{
    margin-bottom: 220px;
}
/*���������*/


/*�˻�������ҳ��ʼ*/
.personalCenter{
    width: 890px;
}
.perFirst{
    width: 93.7%;
    height: 95px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 22px 38px 41px 17px;
    background: #fff;
}
.perFirst ul li{
    float: left;
    /*margin-bottom: 17px;*/
}
.perFirst ul li.nu1{
    width: 356px;
    height: 118px;
}
.perFirst ul li.nu1 dl{
    width: 100%;
}
.perFirst ul li.nu1 dl dt{
    width: 81px;
    height: 118px;
    background: url("../images/icon-header_03.png") no-repeat center;
    float: left;
}
.perFirst ul li.nu1 dl dd{
    width: 245px;
    /*height: 118px;*/
    margin-left: 30px;
    float: left;
}
.perFirst ul li.nu1 dl dd.name{
    font-size: 20px;
    line-height: 36px;
    color: #0055a8;
}
.lendstyle p{
    height: 53px;
    width: 100%;
    position: relative;
}
.lendstyle p span{
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 0px;
    cursor: pointer;
}
.lendstyle p span.one{
    background: url("../images/icon-type_06.png") no-repeat 0px 0px;
    left: 0;
}
.lendstyle p span.two{
    background: url("../images/icon-type_06.png") no-repeat -40px 0px;
    left: 40px;
}
.lendstyle p span.three{
    background: url("../images/icon-type_06.png") no-repeat -80px 0px ;
    left: 80px;
}
.lendstyle .sty{
    margin-top: 5px;
}
.lendstyle .sty .cor1{
    color: #35bd7a;
}
.lendstyle .sty .cor2{
    color: #3fc6ff;
    margin-left: 20px;
}
.perFirst ul li.nu2{
    width: 288px;
    height: 118px;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}
.perFirst ul li.nu2 p.one{
    font-size: 16px;
    color: #666666;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.perFirst ul li.nu2 p.two{
    font-size: 22px;
    color: #0055a8;
    height: 32px;
    line-height: 32px;
    text-align: center;
}
.perFirst ul li.nu2 p.three{
    padding-left: 15px;
    margin-top: 16px;
}
.perFirst ul li.nu2 p.three a,.perFirst ul li.nu3 a{
    display: inline-block;
    width: 98px;
    height: 38px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 20px;
    line-height: 38px;
    text-align: center;
    font-size: 14px;
}
.perFirst ul li.nu2 p.three .recharge{
    border: 1px solid #4acaff;
    background: #4acaff;
    color: #ffffff;
}
.perFirst ul li.nu2 p.three .tixian{
    border: 1px solid #4acaff;
    background: #ffffff;
    color: #4acaff;
}
.perFirst ul li.nu3{
    width: 160px;
    height: 118px;
}
.perFirst ul li.nu3 a{
    border: 1px solid #dddddd;
    background: #dddddd;
    float: right;
    margin-top: 40px;
}
.perSecond,.perThrid{
    width: 888px;
    height: 158px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background: #fff;
    margin-top: 20px;
}
.perSecond ul,.perThrid ul{
    width: 100%;
}
.perSecond ul li,.perThrid ul li{
    width: 25%;
    height: 158px;
    float: left;
    text-align: center;
}
.perSecond ul li h3{
    font-size: 24px;
    color: #0055a8;
    margin-top: 55px;
}
.perSecond ul li p{
    font-size: 14px;
    color: #929292;
    margin-top: 16px;
}
.perThrid ul li h3{
    font-size: 24px;
    color: #fb7f7f;
    margin-top: 40px;
}
.perThrid ul li p.on1{
    font-size: 14px;
    color: #929292;
    margin-top: 17px;
}
.perThrid ul li p.on2{
    font-size: 14px;
    color: #3fc6ff;
    margin-top: 8px;
}
.perThrid ul li a img{
    display: inline-block;
    margin-top: 11px;
    margin-right: 10px;
}
.perFour{
    width: 828px;
    height: 238px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background: #fff;
    margin: 20px 0px 20px 0px;
    padding: 39px 30px 41px 30px;
    position: relative;
}
.perFour .left{
    width: 414px;
    height: 220px;
    border-right: 1px solid #ebebeb;
}
.perFour .right{
    width: 413px;
    height: 220px;
}
.showMessage1{
    position: absolute;
    left: 183px;
    top: 161px
}
.showMessage2{
    position: absolute;
    right: 178px;
    top: 161px
}
.showMessage1 p,.showMessage2 p{
    text-align: center;
}
.showMessage1 .nu1,.showMessage2 .nu1{
    font-size: 14px;
    color: #929292;
    height: 30px;
    line-height: 30px;
}
.showMessage1 .nu2,.showMessage2 .nu2{
    font-size: 16px;
    color: #929292;
    height: 34px;
    line-height: 34px;
}
.noOpen{
    width: 888px;
    height: 58px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background: #fff;
    margin-top: 20px;
}
.noOpen p{
    height: 58px;
    line-height: 58px;
    padding-left: 40px;
    color: #999999;
}
.noOpen p a{
    display: inline-block;
    float: right;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background: #ffc323;
    margin-right: 30px;
    margin-top: 15px;
    color: #fff;
}
.perFour .left h3{
    font-size: 16px;
    color: #666666;
    border-left: 4px solid #3fc6ff;
    padding-left: 6px;
    height: 15px;
    line-height: 15px;
    margin-bottom: 15px;
}
.perFour .right h3{
    font-size: 16px;
    color: #666666;
    border-left: 4px solid #3fc6ff;
    padding-left: 6px;
    height: 15px;
    line-height: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}
/*�һ����뿪ʼ*/
.resetPass{
    width: 322px;
    height: 245px;
    margin: 120px 0px 145px 263px;
}
.passwordRe{
    height: 60px;
    width: 320px;
}
.passwordRe p.prompt{
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #e25163;
    padding-left: 20px;
    background: url("../images/error-ico.jpg") no-repeat 0px center;
}
.resetPass input{
    width: 308px;
    height: 38px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding-left: 10px;
}
.passwordRe a{
    display: inline-block;
    width: 148px;
    height:38px;
    text-align: center;
    line-height: 38px;
    border: 1px solid #4acaff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    fotn-size: 18px;
}
.passwordRe a.save{
    background: #4acaff;
    color: #ffffff;
}
.passwordRe a.cancle{
    background: #ffffff;
    color: #4acaff;
    margin-left: 16px;
}
/*�һ��������*/
    /*��������ɹ���ʼ*/
.resSuccess{
    height: 198px;
    width: 100%;
    margin: 108px 0px 84px 0px;
    background: url("../images/succeed.png") no-repeat center top;
    padding-top: 120px;
}
.resSuccess h3{
    font-size: 24px;
    color: #444444;
    text-align: center;
    font-weight: normal;
}
.resSuccess p{
    font-size: 14px;
    color: #999999;
    text-align: center;
}
.resSuccess p a{
    color: #54c2f0;
}
    /*��������ɹ�����*/
/*�˻�������ҳ����*/

/*�ʽ���?ʼ*/
    /*��ֵ���ֲ���*/
.czTixian{
    height: 65px;
    line-height: 65px;
}
.czTixian h3{
    font-size: 18px;
    color: #4a4a4a;
}
.czTixian .tabCurrent{
    font-size: 14px;
}
.tabCurrent li a{
    /*margin: 0px 33px;*/

    height: 64px;
    padding: 0 20px;
    display: inline-block;
}
.tabCurrent li a.curColor{
    color: #34c5ff;
    border-bottom: 2px solid #34c5ff;
}
.zjChongzhi{

}
.zjChongzhi .czTit,.czContent{
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 20px;
    background: #fbfbfb;
}
.zjChongzhi .czTit{
    height: 53px;
    line-height: 53px;
}
.czTit li{
    width: 80px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    float: left;
    margin: 10px 10px;
    cursor: pointer;
}
.czTit li.current{
    color: #ffffff;
    background: #3fc6ff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.czContent{
    width: 95.3%;
    padding: 20px;
}
.eBank{
    display: none;
    overflow: hidden;
}
.eBank p{
    font-size: 15px;
    color: #666666;
}
.eBank p i{
	font-style: normal;
	font-size: 13px;
	line-height: initial;
	color: #aaaaaa;
}
.yuanRed{
    color: #ff5a70
}
.marL62{
    margin-left: 62px;
}
.circle2 .czcont{
    width: 100%;
    height: 65px;
    margin-top: 27px;
}
.circle2 .czcont span{
    width: 15%;
    line-height: 41px;
    text-align: right;
    font-size: 14px;
}
.circle2 .czcont .right{
    width: 85%;
    /*height: 100px;*/
}

.circle2 .czcont .yinhang{
	background: #FFFFFF;
    width: 322px;
    height: 36px;
    border: 1px solid #e5e5e5;
    line-height: 36px;
    font-size: 14px;
    padding-left: 20px;
    color: #999;
    float: left;
    margin-left: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 3px;
}
.circle2 .czcont .right li{
    width: 25%;
    height: 50px;
    float: left;
}

.czcont .right li input{
    display: inline-block;
    width: 10%;
    height: 14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 9%;
}
.czcont .right li .showImg{
    display: inline-block;
    width: 87%;
    height: 50px;
    padding-left: 3%;
}
.czcont .right li .showImg img{
    display: inline-block;
    float: left;
    margin-top: 10px;
}
.circle3{
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
}
.circle3 .one{
    display: inline-block;
    width: 15%;
    text-align: right;
}
.circle3 input{
    width: 248px;
    height: 36px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    padding-left: 15px;
    font-size: 14px;
    font-family: "΢���ź�", "Microsoft YaHei";
}
.circle3 span i,.circle3 em{
    font-style: normal;
    color: #ff5a70;
}
.mart17{
    margin-top: 17px;
}
.circle4{
    width: 100%;
    height: 60px;
    margin-top: 25px;
}
.circle4 a{
    display: inline-block;
    width: 150px;
    height: 40px;
    font-size: 16px;
    color: #ffffff;
    background: #3fc6ff;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 40%
}
.warmTishi{
    padding: 10px 0px 10px 0px;
}
.warmTishi h3{
    font-size: 16px;
    line-height: 28px;
}
.warmTishi h3 span{
    color: #ff5a70;
}
.warmTishi p{
    font-size: 14px;
    color: #999999;
    line-height: 30px;
}
.heightCon{
    height: 50px;
}
.circle2 .czcont span.boxImg{
    display: inline-block;
    width: 149px;
    height: 56px;
    border: 1px solid #e5e5e5;

}
.circle2 .czcont span.boxImg .posImg{
    position: relative;
    display: inline-block;
    width: 141px;
    height: 49px;
    background: #ffffff;
    border: 1px solid #3fc6ff;
    margin: 3px;
}
.circle2 .czcont span.boxImg .posImg em{
    display: inline-block;
    width: 16px;
    height: 15px;
    background: url("../images/iconRig-icon_03.png") no-repeat center;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.circle2 .czcont .right li.boxContent{
    width: 22.5%;
    float: left;
}
.showCurrent{
    display: block;
}
.hzMonTixianCon{
    width: 95.3%;
    height: 160px;
    padding: 20px;
    background: #fbfbfb;
    margin-top: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 294px;
}
.hzMonTixianCon .circle1{
    font-size: 16px;
}
.hzMonTixianCon .myself{
    font-size: 14px;
    color: #aaaaaa;
}
.hzMonTixianCon .maL15{
    margin-left: 15px;
}
.monBot{
    height: 50px;
    line-height: 50px;
    margin-top: 34px;
}
.monBot span.left{
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    display: inline-block;
    width: 160px;
    text-align: right;
}
.monBot span.right{
    display: inline-block;
    width: 624px;
    height: 48px;
    border: 1px dashed #e5e5e5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background: #ffffff;
    text-align: center;

}
.monBot span.right a{
    display: inline-block;
    color: #3fc6ff;
    width: 94px;
}
.monBot span.right i{
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    color: #e5e5e5;
    /*margin-top: 5px;*/
}
.informationCont .cZshow{
    display: block;
}
.mainCon{
    display: none;
}
.czcont .bankMore{
    color: #3fc6ff;
}
.eBank .circle3 select{
    width: 163px;
    height: 34px;
    outline: none;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 14px;
    color: #666666;
    font-family: "΢���ź�", "Microsoft YaHei";
}
.eBank .error{
    margin-top: 3px;
    padding-left: 145px;
    color: #ff4200;
    background: url("../images/bank-error_03.png") no-repeat 125px center;
}
.zjChongzhi form{
    margin-bottom: 42px;
}

    /*��ʾ�Ƿ񳬶�*/
.isExcess{
    display: none;
}
.isExcessCon{
    width: 100%;
    height: 133px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 20px;
    background: #ffffff;
}
.isExcess h3{
    font-size: 14px;
    padding-left: 15px;
    height: 44px;
    line-height: 44px;
}
.isExcessCon table tr th{
    height: 39px;
    border-bottom: 1px solid #e5e5e5;
    color: #999999
}
.isExcessCon table tr th.wid16{
    width: 16.66%
}
.isExcessCon table tr td{
    height: 93px;
    color: #333333;
}
.isExcessCon table tr .fir{
    padding-left: 20px;
}

    /*��ֵ���ֵ�������*/
.xieyiBj{
    background: #000000;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.xieyi{
    position: fixed;
    left: 35%;
    top: 30%;
    width: 510px;
    height: 320px;
    background: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.xieyi a{
    float: right;
    color: #52cbfe;
}
.xieyi h3{
    padding:0 30px;
    font-weight: 400;
    font-size: 18px;
    height: 55px;
    line-height: 55px;
    color: #666666;
    border-bottom: 2px solid #4acaff;
}
.xieyi p{
    margin:80px 0 84px 62px;
    font-size: 18px;
    color: #666666;
}
.xieyi button{
    width: 132px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.xieyi .leftBtn{
    margin-left: 115px;
    margin-right: 20px;
    background: #3fc6ff;
    color: #FFFFFF;
    border: none;
}
.xieyi .rightBtn{
    border: 1px solid #3fc6ff;
    background: #FFFFFF;
    color: #3fc6ff;
}

/*�ʽ�������