.jxqRight {
  float: right;
  width: 850px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #fff;
  padding: 15px 20px 0 ;
  margin-bottom: 40px;
}
.money{
	float: right;
  width: 850px;
	padding: 50px 20px 60px;
	margin-bottom: 20px;
	border: 1px solid #e5e5e5;
  background-color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.money .help{
	position: relative;
}
.money .help .helpDiv{
	font-size: 13px;
	color: #ff5a70;
	width: 270px;
	height: 50px;
	position: absolute;
	top: 36px;
	left: 7px;
	background: url(../images/hlep.png) no-repeat center center;
}
.money .help .helpDiv p{
	position: absolute;
	top: 10px;
	left: 25px;
}
.money li{
	margin-left: 58px;
	float: left;
	height: 42px;
	line-height: 42px;
	color: #003d9b;
	font-size: 24px;
}
.money li em{
	font-size: 14px;
	font-style: normal;
	color: #666666;
	margin-right: 10px;
}
.money li span{
	width: 42px;
	height: 42px;
	display: inline-block;
	background: url(../images/wen.png) no-repeat 18px 18px;
	background-size: 16px 16px;
	float: left;
}
.money li button{
	width: 100px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	margin-left: 28px;
	margin-top: -1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #4acaff;
	border: none;
}
.jxqRight .leixing {
	margin-right: 15px;
  float: right;
  height: 42px;
  line-height: 42px;
}
.jxqRight .leixing li {
  float: left;
  margin-left: 40px;
}
.jxqRight .leixing li a {
  font-size: 14px;
  display: block;
  height: 42px;
  text-align: center;
  width: 76px;
  color: #666666;
}
.jxqRight .leixing li.active{
	color: #34c5ff;
  border-bottom: 2px solid #34c5ff;
}
.jxqRight .rightBox {
	margin-top: 42px;
  border-top: 1px solid #e5e5e5;
  min-height: 343px;
  width: 850px;
  position: relative;
}
.jxqRight .rightBox .zhuangtai{
	overflow: hidden;
	padding:10px 0 ;
	border: 1px solid #dddddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #F9F9F9;
}
.jxqRight .rightBox .zhuangtai a{
	color: #929292;
	padding: 6px 12px;
	text-align: center;
	float: left;
	margin-left: 24px;
	margin-top: 4px;
}
.jxqRight .rightBox .zhuangtai a span{
	width:6px;
	display: inline-block;
	float: right;
	margin-left:6px ;
	background: url(../images/downsmall.png) no-repeat center 6px;
}
.jxqRight .rightBox .zhuangtai a.active{
	color: #FFFFFF;
	background-color: #3fc6ff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.jxqRight .rightBox .zhuangtai .moreNR{
	width: 850px;
	height: 38px;
	color: #666666;
	background: #f2f2f2;
	float: left;
	margin-left: -5px;
	display: none;
}
.jxqRight .rightBox .zhuangtai .moreNR a{
	margin-top: 6px;
	padding: 4px 5px;
}
.jxqRight .rightBox .zhuangtai .moreNR a.active{
	color: #FFFFFF;
	background-color: #3fc6ff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.jxqRight .rightBox .zhuangtai span{
	color: #929292;
	padding: 10px 0;
	text-align: center;
	float: left;
	margin-left: 24px;
}
.jxqRight .rightBox .leftUl{
	float: left;
	margin-top: 20px;
}
.jxqRight .rightBox .leftUl li{
	float: left;
	margin-right: 40px;
}
.jxqRight .rightBox .leftUl li em{
	font-style: normal;
	color: #f1566a;
}
  .conterbox{
    width: 100%;
    font-size: 14px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 19px;
}
  table{
    width: 100%;
}
  table tr th{
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
    font-weight: 100;
    background: #F9F9F9;
}
  table tr td{
   /*width: 25%;*/
    color: #666666;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
table tr td.color{
	color: #01996c;
}
table tr td.colorUp{
	color: #ff5a70;
}
  table tr.n1{
    background: #f8f8f8;
}
  table tr.n2{
    background: #f5f7fa;
}
  table tr{
    height: 44px;
}
  table tr td.last{
    border-bottom: none;
}
.iconPage{
    width: 100%;
    height: 70px;
    line-height: 50px;
}
input{
	border: 1px solid #e4e4e4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 108px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	font-size: 12px;
	color: #dedede;
	background: url(../images/date.png) no-repeat 94px center;
}
.tab{
	display: none;
}
.tab.active{
	display: block;
}
.topInput{
	margin-top:20px;
	margin-bottom:20px ;
}
.topInput em{
	font-style: normal;
	font-size: 14px;
	color: #999999;
	margin:8px;
}
.topInput button{
	background-color: #ffc323;
	width: 100px;
	height: 32px;
	border: none;
	outline: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-left: 20px;
	color: #FFFFFF;
	font-size: 16px;
}
.jxqRight .rightBox .zhuangtai a span.upImg{
	background: url("../images/up.png") no-repeat no-repeat center 6px;
}
.jxqRight .rightBox .zhuangtai a span.downImg{
	background: url("../images/downsmall.png") no-repeat no-repeat center 6px;
}
.topInput .laydate-icon{
	height: 30px;
    cursor: pointer;
	background: url("../images/date.png") no-repeat 117px center;!important;
}
