.jxqRight {
  float: right;
  width: 850px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #fff;
  padding: 30px 20px 0 20px;
  margin-bottom: 40px;
}
.jxqRight h2 {
  font-size: 18px;
  color: #4a4a4a;
  height: 40px;
  float: left;
  font-weight: 600;
}
.jxqRight .rightBox {
  border-top: 1px solid #e5e5e5;
  margin-top: 42px;
  min-height: 380px;
  width: 850px;
  position: relative;
}
.jxqRight .rightBox .car{
	margin: 45px 0 0 266px;
}
.jxqRight .rightBox .car .idcar{
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom:15px;
	padding-left:100px ;
	padding-top: 56px;
	width: 212px;
	height: 114px;
	color: #FFFFFF;
	background: url(../images/car.png) no-repeat center center;
}
.jxqRight .rightBox .car .idcar:hover span{
	display: block;
}
.jxqRight .rightBox .car .idcar h3{
	font-weight: 100;
	font-size: 22px;
	margin-bottom:8px ;
}
.jxqRight .rightBox .car .idcar p{
	font-size: 16px;
}
.jxqRight .rightBox .car a{
	color: #3FC6FF;
	font-size: 16px;
}
.jxqRight .rightBox .car .idcar span{
	display: none;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 50px;
	height: 20px;
	border: 1px solid #b8e2ff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	line-height: 20px;
	text-align: center;
}
.jxqRight .rightBox .car .idcar span a{
	color: #FFFFFF;
	font-size: 14px;
}
.jxqRight .rightBox .car li span{
	color: #ff5a70;
}
.jxqRight .rightBox .successCenter {
  width: 322px;
  margin: 40px 0 0 260px;
  text-align: center;
}
.jxqRight .rightBox .successCenter .successImg {
  width: 322px;
  height: 106px;
  background: url(../images/succeed.png) no-repeat center top;
}
.jxqRight .rightBox .successCenter h3 {
  font-size: 24px;
  color: #444444;
  font-weight: 600;
  margin: 23px 0;
}
.jxqRight .rightBox .successCenter p {
  font-size: 16px;
  color: #585858;
  margin-bottom: 40px;
}
.jxqRight .rightBox .successCenter p em {
  color: #f1566a;
  font-style: normal;
}
.jxqRight .rightBox .successCenter .leftBtn,
.jxqRight .rightBox .successCenter .rightBtn {
  width: 148px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  border: none;
  outline: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.jxqRight .rightBox .successCenter .leftBtn {
  background: #34c5ff;
  color: #FFFFFF;
  float: left;
}
.jxqRight .rightBox .successCenter .rightBtn {
  color: #34c5ff;
  background: #FFFFFF;
  border: 1px solid #34c5ff;
}
.jxqRight .rightBox .have{
	margin-top: 20px;
	padding-left: 28px;
	font-size:15xp ;
	color: #666666;
	border: 1px solid #e9e9e9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #fbfbfb;
	height: 56px;
	line-height: 56px;
}
.jxqRight .rightBox .up{
	text-align: center;
	padding-top: 130px;
	width: 850px;
	margin-top: 40px;
	overflow: hidden;
	background: url(../images/xiao.png) no-repeat center top;
}
.jxqRight .rightBox .up h3{
	font-weight: 100;
	font-size: 22px;
	color: #444444;
	margin-bottom:23px ;
}
.jxqRight .rightBox .up p{
	color: #585858;
	margin-bottom: 38px;
}
.jxqRight .rightBox .up p span{
	color: #ff5a70;
}
.jxqRight .rightBox .up button{
	width: 150px;
	height: 40px;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #34c5ff;
	color: #FFFFFF;
	line-height: 40px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 16px;
	margin-bottom: 15px;
}
  .conterbox{
    width: 100%;
    font-size: 14px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 19px;
    margin-bottom: 40px;
}
  table{
    width: 100%;
}
  table tr th{
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
}
  table tr td{
   /*width: 25%;*/
    color: #666666;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
  table tr.n1{
    background: #f8f8f8;
}
  table tr.n2{
    background: #f5f7fa;
}
  table tr{
    height: 44px;
}
.jxqRight .rightBox .have span{
	color: #ff5a70;
}
.jxqRight .yuexiangbiao {
  border-top: 1px solid #e5e5e5;
  margin-top: 42px;
  width: 850px;
  padding: 20px;
  min-height: 70px;
}
.jxqRight .yuexiangbiao .yue {
  float: left;
}
.jxqRight .yuexiangbiao .yue h3,
.jxqRight .yuexiangbiao .yue p,
.jxqRight .yuexiangbiao .yue span {
  float: left;
  color: #0c4e9e;
  font-size: 18px;
  font-weight: 600;
  margin-right: 15px;
  margin-bottom: 20px;
}
.jxqRight .yuexiangbiao .yue p {
  border: 1px solid #85dcff;
  color: #85dcff;
  font-size: 12px;
  width: 58px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.jxqRight .yuexiangbiao .yue span {
  font-size: 14px;
  color: #999999;
  margin-top: 6px;
}
.jxqRight .yuexiangbiao .yue .lilv {
  width: 365px;
  overflow: hidden;
  float: left;
}
.jxqRight .yuexiangbiao .yue .lilv h3 {
  color: #f1566a;
  font-size: 30px;
  font-weight: 600;
  margin-right: 255px;
  margin-bottom: 0;
}
.jxqRight .yuexiangbiao .yue .lilv h3 em {
  font-size: 18px;
  font-style: normal;
}
.jxqRight .yuexiangbiao .yue .qixian {
  width: 230px;
  overflow: hidden;
  float: left;
}
.jxqRight .yuexiangbiao .yue .qixian h2 {
  font-size: 34px;
  width: 70px;
  color: #868686;
  font-weight: 100;
  margin-right: 200px;
  margin-bottom: 0;
  text-align: center;
}
.jxqRight .yuexiangbiao .yue .button {
  width: 240px;
  height: 90px;
  border-left: 1px solid #e0e0e0;
  float: left;
  margin-top: -30px;
}
.jxqRight .yuexiangbiao .yue .button button {
  margin-left: 55px;
  margin-top: 25px;
  width: 152px;
  height: 40px;
  border: none;
  outline: none;
  text-align: center;
  line-height: 40px;
  background: #3fc6ff;
  color: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tab {
  display: none;
}
.tab.block {
  display: block;
}
.conterbox {
  width: 100%;
  font-size: 14px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 19px;
}
