@charset "utf-8";
.hzSidebarLeft .left{
    /*margin-top: 27px;*/
}
.hzSidebarRight{
    width: 848px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0 20px;
    margin-left: 300px;
    background: #fff;
    margin-top: 3px;
    margin-bottom: 40px;
}
.hzSidebarLeft .left ul h3.first {
    background: url("../images/tanhao.png") no-repeat left 0px;
}
.aboutUsCon{
    width: 849px;
    height: 56px;
    border-bottom: 1px solid #e0e0e0;
}
.aboutUsCon h3{
    font-size: 18px;
    color: #4a4a4a;
    margin-top: 9px;
    height: 56px;
    line-height: 56px;
    padding-left: 4px;
    font-weight: normal;
}
.banAboutus{
    width: 849px;
    height: 170px;
    background: url("../images/companyInsBan_03.jpg") no-repeat center;
    margin-top: 30px;
}
.aboutUsConbottom{
    width: 777px;
    padding: 37px 23px 35px 25px;
}
.aboutUsConbottom h3{
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    color: #4a4a4a;
    font-weight: normal;
}
.aboutUsConbottom p{
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #999999;
}
.developCourse{
    width: 762px;
    padding: 0px 30px 0px 27px;
    background: #f7f7f7;
    margin-left: 15px;
}
.developCourse h3{
    height: 58px;
    line-height: 58px;
    font-size: 18px;
    border-bottom: 1px solid #ffffff;
    padding-top: 22px;
    font-weight: normal;
}
.developCon{
    width: 762px;
    margin-top: 30px;
    height: 681px;
}
.developConLeft{
    width: 380px;
    float: left;
    height: 678px;
}
.developContener{
    width: 0px;
    border: 1px solid #e3e3e3;
    float: left;
    height: 678px;
    position: relative;
}
.developContener ul li,.developContener ul em{
    position: absolute;
}
.developContener ul li{
    height: 65px;
    width: 18px;
    background: url("../images/icon-time2016.jpg") no-repeat center;
    left: -8px;
    top: 84px;
}
.developContener ul li.n1{
    top: 84px;
}
.developContener ul li.n2{
    top: 156px;
}
.developContener ul li.n3{
    top: 228px;
}
.developContener ul li.n4{
    top: 300px;
}
.developContener ul li.n5{
    top: 372px;
}
.developContener ul li.n6{
    top: 444px;
}
.developContener ul li.n7{
    top: 516px;
}
.developContener ul li.n8{
    top: 600px;
    width: 64px;
    height: 79px;
    left: -32px;
    background: url("../images/time2015.jpg") no-repeat center;
}
.developContener ul em{
    display: inline-block;
    width: 64px;
    height: 73px;
    background: url("../images/timeYear2016.jpg") no-repeat center;
    left: -32px;
    top: 0px;
}
.developContener ul em.first{
    display: inline-block;
    width: 64px;
    height: 73px;
    background: url("../images/icon-time2015.jpg") no-repeat center;
    left: -32px;
    top: 0px;
}
.developConLeft ul{
    margin-top: 64px;
    text-align: right;
    padding-right: 18px;
}
.developConRight ul{
    margin-top: 98px;
    text-align: left;
    margin-left: 18px;
}
.developConLeft ul li.n1,.developConRight ul li.n1{
    height: 104px;
    line-height: 104px;
    font-size: 16px;
    color: #ff8494;
}
.developConLeft ul li.n2,.developConRight ul li.n2{
    width: 283px;
    /*height: 42px;*/
    padding: 9px 20px;
    line-height: 24px;
    font-size: 14px;
    color: #999999;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    background: #fff;
    position: relative;
    margin-left: 30px;
}
.developConRight ul li.n2{
    margin-left: 10px;
    padding-left: 10px;
}
.developConRight{
    width: 380px;
    float: left;
    height: 678px;
}
.developConRight ul span{
    display: inline-block;
    cursor: pointer;
    width: 67px;
    height: 30px;
    border: 1px solid #e0e0e0;
    line-height: 30px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -o-border-radius: 16px;
    font-size: 16px;
    color: #54c2f0;
    padding-left: 19px;
    margin-top: 30px;
    margin-left: 30px;
    position: relative;
}
.developConRight ul span i{
    display: inline-block;
    width: 15px;
    height: 8px;
    background: url("../images/icon-up-down_03.png") no-repeat center;
    position: absolute;
    top: 12px;
    right: 15px;
}
.developContener ul li.nblue{
    background: url("../images/icon-time2015.jpg") no-repeat center;
}
.botAousCon{
    display: none;
}
/*点击时的样式*/
.developConRight ul span i.goUp{
    background: url("../images/icon-up-up_03.png") no-repeat center;
}
/*向右箭头*/
.triangle_border_right{
    width:0;
    height:0;
    border-width:9px 0 8px 9px;
    border-style:solid;
    border-color:transparent transparent transparent #fff;/*透明 透明 透明 灰*/
    margin:40px auto;
    position:absolute;
    right:-9px;
    top: -27px;
}
/*向左箭头*/
.triangle_border_left{
    width:0;
    height:0;
    border-width:9px 9px 8px 0;
    border-style:solid;
    border-color:transparent #fff transparent transparent;/*透明 灰 透明 透明 */
    margin:40px auto;
    position:absolute;
    left:-9px;
    top: -27px;
}

/*企业文化部分*/
.enterCulture{
    width: 829px;
    margin-left: 10px;
    background: #fff;
    margin-bottom: 40px;
}
.enterCulture h3{
    font-size: 18px;
    color: #4a4a4a;
    height: 60px;
    line-height: 60px;
    padding-left: 27px;
    margin-top: 8px;
    font-weight: normal;
}
.enterCulture ul li{
    width: 404px;
    height: 120px;
    background: #f7f7f7;
    float: left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.enterCulture ul li.second{
    margin-left: 20px;
}
.enterCulture ul li.third{
    margin-top: 20px;
}
.enterCulture ul li.last{
    margin-top: 20px;
    margin-left: 20px;
}
.divImg{
    float: left;
    width: 130px;
    height: 120px;
}
.leftImg1{
    background: url("../images/icon-aboutUs1.png") no-repeat center;
}
.leftImg2{
    background: url("../images/icon-aboutUs2.png") no-repeat center;
}
.leftImg3{
    background: url("../images/icon-aboutUs3_29.png") no-repeat center;
}
.leftImg4{
    background: url("../images/icon-aboutUs4_31.png") no-repeat center;
}
.titOne{
    width: 260px;
    font-size: 18px;
    color: #4a4a4a;
    height: 38px;
    line-height: 38px;
    margin-top: 28px;
}
.conTwo{
    color: #999999;
    width: 260px;
}

/*平台优势部分*/
.selerease{
    width: 849px;
    margin-top: 46px;
}
.selerease ul li{
    float: left;
    width: 192px;
    height: 238px;
    background: pink;
    margin: 0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}
.selerease ul li.n1{
    background: #fff9e7;
}
.selerease ul li.n2{
    background: #eefaff;
}
.selerease ul li.n3{
    background: #ffeff1;
}
.selerease ul li.n4{
    background: #edf9eb;
}
.selerease ul li i{
    display: inline-block;
    width: 52px;
    height: 52px;
    position: absolute;
    top: -30px;
    left: 7px;
}
.selerease ul li.n1 i{
    background: url("../images/ys-icon1_03.png") no-repeat center;
}
.selerease ul li.n2 i{
    background: url("../images/ys-icon2_05.png") no-repeat center;
}
.selerease ul li.n3 i{
    background: url("../images/ys-icon3_05.png") no-repeat center;
}
.selerease ul li.n4 i{
    background: url("../images/ys-icon4_07.png") no-repeat center;
}
.selerease ul li dl dt{
    width: 192px;
    height: 120px;
}
.selerease ul li.n1 dl dt{
    background: url("../images/ysicon-img1_10.png") no-repeat center bottom;
}
.selerease ul li.n2 dl dt{
    background: url("../images/ysicon-img2_13.png") no-repeat center bottom;
}
.selerease ul li.n3 dl dt{
    background: url("../images/ysicon-img3_15.png") no-repeat center bottom;
}
.selerease ul li.n4 dl dt{
    background: url("../images/ysicon-img4_18.png") no-repeat center bottom;
}
.selerease ul li dl dd{
    text-align: center;
    height: 22px;
    line-height: 22px;
    color: #999999;
}
.selerease ul li dl dd.one{
    height: 44px;
    font-size: 20px;
    line-height: 44px;
    margin-top: 3px;
}
.selerease ul li.n1 dl dd.one{
    color: #ff871c;
}
.selerease ul li.n2 dl dd.one{
    color: #54c2f0;
}
.selerease ul li.n3 dl dd.one{
    color: #fb6c7f;
}
.selerease ul li.n4 dl dd.one{
    color: #91d942;
}

/*联系我们部分*/
.lacationMap{
    width: 850px;
    height: 350px;
    background: url("../images/map_03.jpg") no-repeat center;
    margin-top: 26px;
}
.linkSel{
    height: 248px;
    width: 850px;
    border-top: 1px solid #eeeeee;
    margin-top: 72px;
    position: relative;
}
.linkSel h3{
    position: absolute;
    font-weight: normal;
    background: #fff;
    color: #4a4a4a;
    font-size: 16px;
    width: 122px;
    height: 28px;
    text-align: center;
    top: -13px;
    left: 50%;
    margin-left: -61px;
}
.linkSel ul{
    margin-left: 14px;
    margin-top: 78px;
}
.linkSel ul li{
    float: left;
    width: 198px;
    height: 107px;
    border: 1px solid #f2f2f2;
    margin: 0 37px;
    position: relative;
}
.linkSel ul li i{
    width: 54px;
    height: 49px;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -27px;
    top: -28px;
}
.linkSel ul li.nth1 i{
    background: url("../images/weixin-icon_07.png") no-repeat center;
}
.linkSel ul li.nth11 i{
    background: url("../images/address-icon_09.jpg") no-repeat center;
}
.linkSel ul li.nth111 i{
     background: url("../images/telephone-icon_11.jpg") no-repeat center;
 }
.linkSel ul li p{
    text-align: center;
    height: 21px;
    line-height: 21px;
    font-size: 12px;
    color: #999999;
}
.linkSel ul li p.nth2{
    margin-top: 21px;
    font-size: 14px;
    color: #444444;
    height: 26px;
    line-height: 26px;
    height: 26px;
    line-height: 26px;
}
.linkSel ul li p.nth3{
    font-size: 12px;
    margin-top: 4px;
}
.hzSidebarLeft .left ul a.current{
    color: #54c2f0;
}