@charset "utf-8";
/* CSS Document */
.content{font-family:"微软雅黑",'Microsoft YaHei';background:#f2f2f2;}
.banner{width:100%;height:699px;background:url(../images/banner.jpg) no-repeat center center;margin:0 auto;}

.inner{width:1190px;margin:0 auto;}
.content h3{padding:55px 0 42px 0;font-family:"黑体",'Microsoft YaHei';font-size:28px;text-align:center;color:#3fc6ff;font-weight:200;}
.content .icon-l,.content .icon-r{width:48px;height:4px;display:inline-block;vertical-align:super;margin:0 12px;}
.content .icon-l{background:url(../images/icon-l.png);}
.content .icon-r{background:url(../images/icon-r.png);}
.fuyou{background:#f8f8f8;}
.fuyou .inner{padding-bottom:85px;}
.fuyou p{font-size:16px;color:#999;line-height:32px;padding:0 83px;}
.control{background:#fff;}
.control ul li{width:396px;height:210px;float:left;}
h4.s1,h4.s2{position:relative;background:url(../images/line.jpg) repeat 0 5px;height:50px;margin-bottom:10px;}
h4 i{background:url(../images/arrows.jpg);width:16px;height:21px;display:inline-block;position:absolute;right:38px;top:18px;}
h4 i.dot{background:url(../images/dot.png);width:10px;height:10px;display:inline-block;position:absolute;right:0px;top:22px;}

h4.s1 b,h4.s2 b{font-family:"Adobe 黑体 Std",'Microsoft YaHei';width:57px;height:57px;line-height:57px;text-align:center;display:inline-block;position:absolute;left:0;top:0;font-size:28px;color:#fff;font-weight:100;}
h4.s1 b{background:url(../images/bg-number1.png);}
h4.s2 b{background:url(../images/bg-number2.png);}
h4.s1 span,h4.s2 span{height:33px;line-height:33px;display:inline-block;margin-top:12px;margin-left:42px;padding:0 20px;font-size:20px;font-weight:200;}
h4.s1 span{background:#e1f6ff url(../images/bg-radius.jpg) no-repeat top right;color:#3fc6ff;}
h4.s2 span{background:#eaffd3 url(../images/bg-radius2.jpg) no-repeat top right;color:#7ed321;}
.control p{font-size:16px;color:#999;line-height:26px;padding-right:70px;}
.DoMore{background:#f8f8f8;}
.DoMore ul li{float:left;width:556px;height:210px;margin-bottom:20px;}
.pic{width:197px;float:left;margin-right:33px;text-align:center;padding-top:32px;}
.DoMore h4{font-size:20px;color:#666;margin:38px 0 13px;}
.DoMore p{font-size:14px;color:#999;line-height:23px;}