.leftFirst {
  background: url(../images/tanhao.png) no-repeat left top;
}
.hzSidebarRight .contentRight .right {
  margin-bottom: 30px;
  border: 1px solid #e5e5e5;
  width: 848px;
  float: right;
  padding: 0 20px ;
  background: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
}
.hzSidebarRight .contentRight .right h3 {
  margin-top: 28px;
  font-size: 18px;
  color: #4a4a4a;
  margin-bottom: 18px;
  font-weight: 600;
}
.hzSidebarRight .contentRight .right .rightBox {
  border-top: 1px solid #e5e5e5;
  padding: 45px 35px 80px 46px;
  overflow: hidden;
}
.hzSidebarRight .contentRight .right .rightBox dt {
  float: left;
}
.hzSidebarRight .contentRight .right .rightBox dd {
  float: right;
  width: 470px;
  padding-top: 14px;
  color: #999999;
  height: 25px;
}
.hzSidebarRight .contentRight .right .rightBox dd p {
  margin-bottom: 35px;
}
.hzSidebarRight .contentRight .right .allBox {
  overflow: hidden;
  border-top: 1px solid #e5e5e5;
}
.hzSidebarRight .contentRight .right .allBox .ditu {
  margin-top: 27px;
  margin-bottom: 33px;
  overflow: hidden;
}
.hzSidebarRight .contentRight .right .allBox .lianxi {
  margin-bottom: 28px;
  overflow: hidden;
}
.hzSidebarRight .contentRight .right .allBox .lianxi h3 {
  font-size: 16px;
  margin-bottom: 17px;
}
.hzSidebarRight .contentRight .right .allBox .lianxi li {
  color: #999999;
  height: 25px;
}
.hzSidebarRight .contentRight .right .allBox .smallBox {
  height: 80px;
  overflow: hidden;
  padding: 38px 0;
  border-bottom: 1px dashed #dcdcdc;
}
.hzSidebarRight .contentRight .right .allBox .smallBox dt {
  float: left;
}
.hzSidebarRight .contentRight .right .allBox .smallBox dd {
  float: right;
  width: 660px;
}
.hzSidebarRight .contentRight .right .allBox .smallBox dd h4 {
  color: #666666;
  font-size: 18px;
  font-weight: 500;
  height: 30px;
}
.hzSidebarRight .contentRight .right .allBox .smallBox dd li {
  color: #999999;
  font-size: 13px;
  height: 30px;
}
.hzSidebarRight .contentRight .right .allBox .smallBox dd p {
  font-size: 14px;
  color: #999999;
  text-indent: 0;
}
.hzSidebarRight .contentRight .right .allBox p {
  font-size: 14px;
  margin: 0;
  line-height: 30px;
  text-indent: 35px;
}
.hzSidebarRight .contentRight .right .allBox span {
  font-size: 14px;
  color: #999999;
  line-height: 30px;
}
.hzSidebarRight .contentRight .right .allBox h5 {
  font-weight: 400;
  color: #4a4a4a;
  font-size: 16px;
  margin-bottom: 20px;
}
.hzSidebarRight .contentRight .right .allBox h5 a {
  color: #54c2f0;
}
.hzSidebarRight .contentRight .right .allBox em {
  font-style: normal;
  font-size: 13px;
  color: #999999;
  display: block;
  line-height: 24px;
}
.hzSidebarRight .contentRight .right .allBox .ulLeft li {
  line-height: 48px;
  color: #666666;
  font-size: 16px;
  padding-left: 20px;
  background: url(../images/dian.png) no-repeat left center;
}
.hzSidebarRight .contentRight .right .allBox .ulLeft li span {
  float: right;
}
.hzSidebarRight .contentRight .right .allBox .ulLeft li:hover {
  background: url(../images/dianHover.png) no-repeat left center;
  color: #54c2f0;
}
.hzSidebarRight .contentRight .right .allBox .ulLeft li:hover span {
  color: #54c2f0;
}
.hzSidebarRight .contentRight .right .allBox i {
  color: #666666;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}
.hzSidebarRight .contentRight .right .allBox .ulRight {
  float: right;
}
.hzSidebarRight .contentRight .right .allBox .ulRight li {
  width: 130px;
  text-align: center;
}
.hzSidebarRight .contentRight .right p {
  color: #999999;
  font-size: 13px;
  margin-bottom: 16px;
}
.iconPage{
    position: absolute;
    text-align: center;
    bottom: 40px;
    left: 0px;
    font-size: 16px;
}
.iconPage span{
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 28px;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}
.iconPage span.on{
    background: #3fc6ff;
    color: #ffffff;
}
.iconPage a{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    color: #3fc6ff;
}
.marL30{
    margin-left: 30px;
}
.iconPage input{
    display: inline-block;
    width: 52px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border: 1px solid #e5e5e5;
    margin-bottom: 5px;
}
.iconPage .go{
    width: 50px;
    cursor: pointer;
}
.del_content .main{
    display: none;
}
.del_content .main.selected{
    display: block;
}
.hzSidebarLeft .left ul a.current{
    color: #54c2f0;
}