@charset "utf-8";
/*reset*/
body,div,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,iframe,input,textarea,select,label,article,aside,footer,header,menu,nav,section,time,audio,video {margin:0; padding:0;}
article,aside,footer,header,nav,section,audio,canvas,video,img {display: block;}
body {background: #f0f0f0;font-size: 20px; font-family:Helvetica,STHeiti,Droid Sans Fallback,Microsoft YaHei;  -webkit-text-size-adjust: 100%;  -ms-text-size-adjust: 100%; -webkit-tap-highlight-color:rgba(0,0,0,0); position: relative }
textarea { resize: none;}
iframe,img { border:0;}
img {
    vertical-align: middle;
    font-size: 0;
    border: 0;
    -ms-interpolation-mode: bicubic
}
ul,ol { list-style:none;}
input,select,textarea {outline: 0; -webkit-user-modify: read-write-plaintext-only;font-family:Helvetica,STHeiti,Droid Sans Fallback,Microsoft YaHei;}
input {/* -webkit-appearance: none; */border: 0}
a{text-decoration: none;}
html{font-size: 100px;}
.lL{float: left}
.rR{float: right}
.clear{clear: both}
b{font-weight: normal}
.space{
    word-spacing:5px; letter-spacing: 2px;
}
.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both
}

.clearfix {
    *zoom:1
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.mb100{
    margin-bottom: 100px;
}
/*公共样式 end*/