@charset "utf-8";
.hzDoubleCenter{
    min-width: 1200px;
}
.doubleEleverBanner{
    width: 100%;
    height: 509px;
    background: #fd4a28;
}
.doubleEleverBanner .banner{
    max-width: 1920px;
    height: 509px;
    margin: 0 auto;
    background: url("../images/double11-banner_01.jpg") no-repeat center center;
}
.hzBotContainer{
    width: 100%;
    background: #f9e745;
}
.doubleContent{
    max-width: 1920px;
    margin: 0 auto;
    background: url("../images/double11-bg_02.jpg") repeat-y top center;
}
.doubleActive{
    width: 100%;
    position: relative;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    background: #fcda37;
}
.activeTime{
    width: 680px;
    height: 55px;
    margin: 0 auto;
    padding-top: 74px;
    /*margin-left: 33%;*/
    padding-left: 315px;
}
.doubleActive p.jiaoyie{
    width: 100%;
    height: 70px;
    line-height: 70px;
    padding: 0;
    padding-bottom: 30px;
    color: #fe7930;
    text-align: center;
}
.doubleActive p.jiaoyie .left{
    /*display: inline-block;*/
    /*width: 444px;*/
    text-align: right;
    font-size: 20px;
}
.doubleActive p.jiaoyie .right{
    font-size: 32px;
    /*text-align: left;*/
}
.doubleActive p.jiaoyie  i{
    font-size: 20px;
}
.activeTime li{
    float: left;
}
.activeTime li.riqi{
    width: 149px;
    height: 55px;
}
.activeTime li.riqi span{
    display: inline-block;
    width: 36px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 24px;
}
.activeTime li.special{
    width: 56px;
    height: 55px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    color: #666666;
}
.activeTime li.riqi span.square{
    background: url("../images/timer-bg_03.png") no-repeat center;
    color: #fff;
}
.activeTime li.riqi span.month{
    color: #fe7930;
    width: 32px;
}
.timeTit{
    width: 354px;
    height: 60px;
    position: absolute;
    top: -24px;
    left: 0px;
}
.doubleActive .tit1{
    background: url("../images/double11-tit1_03.png") no-repeat;
}
.doubleActive .tit2{
    background: url("../images/double11-tit2_06.png") no-repeat;
}
.doubleActive .tit3{
    background: url("../images/double11-tit3_08.png") no-repeat;
}
.doubleActive .tit4{
    background: url("../images/double11-tit4_03.png") no-repeat;
}
.doubleActive .tit5{
    background: url("../images/double11-tit5_03.png") no-repeat;
}
.doubleActive > p{
    width: 925px;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    padding: 66px 40px 50px 40px;
}
.activeRuler{
    width: 928px;
    padding: 47px 0px 50px 33px;
}
.activeRuler li{
    width: 928px;
    padding-top: 30px;
    position: relative;
}
.activeRuler li p{
    width: 731px;
    color: #666666;
    font-size: 16px;
    line-height: 22px;
    background: #f9e745;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    padding: 40px 40px 40px 156px;
}
.activeRuler li span{
    position: absolute;
    left: 0px;
    top: 33px;
    width: 150px;
    height: 150px;
    background: url("../images/double11-redruler_11.png") no-repeat center;
}
.activeRuler li span em.one,.activeRuler li span em.two{
    display: block;
    text-align: center;
}
.activeRuler li span em.two{
    font-size: 16px;
    color: #fff;
    margin-top: 12px;
}
.activeRuler li span em.one{
    font-size: 25px;
    color: #fe6c2b;
    margin-top: 45px;
}
.activeRuler li span i{
    font-size: 14px; color: #656565
}
.activeInstructions{
    width: 927px;
    padding: 66px 39px 30px 34px;
    margin-bottom: 48px;
}
.activeInstructions li{
    padding-top: 10px;
    padding-bottom: 10px;
}
.activeInstructions li p{
    display: inline-block;
    width: 867px;
    font-size: 16px;
    color: #666666;
    line-height: 40px;
}
.activeInstructions li i{
    display: inline-block;
    width: 55px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    background: url("../images/double11-circle_15.png") no-repeat center;
}
.doubleActFooter{
    height: 50px;
    width: 100%;
    background: #f9dd3a;
}