/*出借计划开始*/
.center{
    background: #f2f2f2;
}
.containerLend{
    width: 1190px;
    margin: 0 auto;
}
.hztit{
    color: #9f9f9f;
    font-size: 14px;
    line-height: 36px;
    height: 36px;
    /*padding-top: 10px;*/
}
.lendBanner{
    position: relative;
    width: 100%;
    height: 200px;
}
.lendClose{
    display: inline-block;
    position: absolute;
    width: 31px;
    height: 31px;
    background: url("../images/close-btn_03.png");
    right: -5px;
    top: -5px;
}
/*出借计划开始*/
.hzlendBottom{
    width: 100%;
    height: 360px;
    border: 1px solid #e7e7e7;
    position: relative;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #ffffff;
    margin-top: 20px;
}
.hzlendBottom em{
    position: absolute;
    display: inline-block;
    width: 74px;
    height: 74px;
    background: url("../images/icon-image.png") no-repeat -247px 0px;
    left: -1px;
    top: -1px;
}
.percentage{
    font-size: 14px;
}
.hzlendBottom ul li{
    width: 19.8%;
    padding: 28px 30px 28px 30px;
    float: left;
    border-right: 1px solid #e5e5e5;
}
.hzlendBottom ul li:last-child{
    border-right: none;
}
.hzlendBottom ul li h3{
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #0c4e9e;
    font-weight: normal;
}
.hzlendBottom ul li p{
    width: 78px;
    height: 21px;
    margin-top: 15px;
    border: 1px solid #e9e9e9;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    margin: 0 auto;
    text-align: center;
    line-height: 21px;
    margin-top: 12px;
}
.hzlendBottom ul li p.colRed{
    color: #f1566a;
    border: 1px solid #f1566a;
}
.hzlendBottom ul li p.colgreen{
    color: #7ed321;
    border: 1px solid #7ed321;
}
.rateNumber{
    font-size: 48px;
    color: #f1566a;
    text-align: center;
    margin: 0px 15px 0px 10px;
}
.hzlendBottom ul li dl{
    margin-right: 10px;
    margin-top: 35px;
}
.hzlendBottom ul li dl dd{
    line-height: 24px;
    height: 24px;
    font-size: 14px;
}
.hzlendBottom ul li dl dd.one{
    text-align: center;
}
.hzlendBottom ul li dl dd.two{
    font-size: 14px;
    margin-top: 24px;
}
.hzlendBottom ul li dl dd.three{
    font-size: 14px;
}
.hzlendBottom ul li dl dd.four{
    width: 100%;
    height:3px;
    background: #e8e8e8;
    margin-top: 10px;
    position: relative;
}
.hzlendBottom ul li dl dd span.progress{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70%;
    height:3px;
    background: #4acaff;
}
.hzlendBottom ul li dl dd.progress{
    width: 100%;
}
.hzlendBottom ul li dl dd i{
    display: inline-block;
    font-style: normal;
}
.hzlendBottom ul li a{
    display: inline-block;
    width: 151px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #3fc6ff;
    color: #ffffff;
    margin: 28px 28px 0px 40px;
    font-size: 16px;
}
.hzlendBottom ul li a.shouyi{
    background: #c9c9c9;
}
.hzlendBottom h3 span{
    display: inline-block;
}
.hzlendBottom h3 span.type{
    width: 16px;
    height: 16px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size:12px;
    line-height: 16px;
    text-align: center;
    margin-left: 8px
}
.hzlendBottom h3 span.di{
    background: #f5a623;
    color: #ffffff;
}
.hzlendBottom h3 span.xin{
    background: #53ccff;
    color: #ffffff;
}
.hzlendBottom h3 span.car{
    background: #8bd738;
    color: #ffffff;
}
.hzMorePlan{
    width: 100%;
    height: 48px;
    border: 1px solid #e5e5e5;
    margin-top: 5px;
    background: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #ffffff;
}
.hzMorePlan a{
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #999999;
    line-height: 48px;
    text-align: center;
}
.marBot20{
    padding-bottom: 20px;
}
/*出借计划结束*/

/*出借计划详情开始*/
.conterLeft{
    width: 890px;
    /*background: red;*/
}
.conterRight{
    width: 280px;
}
.pruductName{
    width: 91.1%;
    height: 250px;
    padding: 40px;
    background: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #e5e5e5;
}
.pruductName .nu2 span.warmPro{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/icon-puRate_03.png") no-repeat;
    margin-bottom: -2px;
    margin-left: 5px;
    cursor: pointer;
}
.pruductName ul{
    height: 60px;
}
.pruductName ul li{
    float: left;
}
.pruductName ul li.first{
    width: 520px;
    border-right: 1px solid #e1e1e1;
}
.pruductName ul li{
    float: left;
}
.pruductName ul li.second{
    width: 250px;
    margin-left: 39px;
}
.pruductName ul li.first dl dt{
    width: 100%;
    font-size:24px;
    color: #0c4e9e;
}
.pruductName ul li.first dl dd.nu1{
  font-family: HelveticaNeueLt;  margin-top: 55px;
    width: 100%;
}
.pruductName ul li.first dl dd.nu1 ul li p{
    font-size: 44px;
}
/*更改*/
.pruductName ul li.first dl dd.nu1 ul li p.fonSize34{
    font-size: 34px;
    height: 54px;
    line-height: 54px;
}
.pruductName ul li.first dl dd.nu1 ul li p i{
    display: inline-block;
    font-size: 14px;
    font-style: normal;
}
.pruductName ul li.first dl dd.nu1 ul li span{
    font-size: 14px;
    color: #929292;
    margin-top: 10px;
}
.pruductName ul li.first dl dd.nu1 ul li{
    float: left;
}
.pruductName ul li.first dl dd.nu1 ul li.one{
    width: 160px;
}
.pruductName ul li.first dl dd.nu1 ul li.one p{
    color: #f1566a;
}
.pruductName ul li.first dl dd.nu1 ul li.two{
    width: 150px;
}
.pruductName ul li.first dl dd.nu1 ul li.three{
    width: 208px;
}
.pruductName ul li.first dl dd.nu2{
    margin-top: 60px;
    font-size:14px;
    color: #929292
}
.pruductName ul li.first dl dd.nu3{
    margin-top: 10px;
    font-size:14px;
    color: #929292
}
.pruductName ul li.first dl dd.nu3 a{
    color: #3fc6ff;
}
.pruductName ul li.second .no1{
    font-size: 16px;
    color: #929292;
}
.pruductName ul li.second .no2{
    margin-top: 18px;
    height: 26px;
}
.pruductName ul li.second .no2 span{
    font-size: 26px;
    color: #666666
}
.pruductName ul li.second .no2 a{
    color: #3fc6ff;
    font-size: 14px;
    margin-top: 10px;
}
.pruductName ul li.second .no3{
    margin-top: 15px;
    position: relative;
}
.pruductName ul li.second .no3 input {
    width: 248px;
    height: 38px;
    line-height: 38px;
    padding-left: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #929292;
}
.pruductName ul li.second .no3 span{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
}
.pruductName ul li.second .no4 {
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
}
.pruductName ul li.second p{
    font-size: 14px;
    color: #929292;
}
.pruductName ul li.second .no5{
    height: 30px;
    line-height: 30px;
}
.pruductName ul li.second .no5 .process{
    width:200px;
    height: 4px;
    background: #f2f2f2;
    margin-top: 13px;
    position: relative;
}
.pruductName ul li.second .no5 .process i{
    display: inline-block;
    width: 40px;
    height: 4px;
    background: #3fc6ff;
    position: absolute;
    left: 0px;
    top: 0px;
}
.pruductName ul li.second .no6{
    color: #f1566a;
    height: 30px;
    line-height: 30px;
}
.pruductName ul li.second .no7{

}
.pruductName ul li.second .no7 a{
    display: inline-block;
    border: 1px solid #3fc6ff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
}
.pruductName ul li.second .no7 a.left{
    width: 162px;
    color: #ffffff;
    background: #3fc6ff;
}
.pruductName ul li.second .no7 a.right{
    width: 74px;
    background: #ffffff;
    color: #3fc6ff;
}
.detailSpecial{
    width: 100%;
    padding: 19px 0px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 20px;
}
.detailSpecial ul{
    width: 100%;
    height: 50px;
}
.detailSpecial ul li{
    width: 22.6%;
    margin-left: 20px;
    height: 50px;
    float: left;
    border-right: 1px solid #e1e1e1;
}
.detailSpecial ul li.last{
    border-right: none;
}
.detailSpecial ul li img{
    display: inline-block;
    float: left;
    width: 48px;
    height: 50px;
    float: left;
}
.detailSpecial ul li p{
    float: left;
    margin-left: 12px;
}
.detailSpecial ul li p.n1{
    font-size: 16px;
    color: #f1566a;
    line-height: 24px;
}
.detailSpecial ul li p.n2{
    font-size: 14px;
    color: #929292;
    line-height: 24px;
}
/*详情内容部分开始*/
    /*借款详情*/
.detailContent{
    width: 93.1%;
    padding: 0px 30px 50px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 20px;
}
.detailContent .tabs{
    width: 77%;
    margin-left: 125px;
    height: 68px;
    line-height: 68px;
    font-size: 18px;
    padding-left: 65px;
}
.tabs li.active{
    color: #3fc6ff;
}
.tabs li{
    width: 140px;
    text-align: center;
    float: left;
    cursor: pointer;
}
.del_content{
    width: 100%;
}
/*项目介绍*/
.proInstru{
    width: 100%;
}
.proPrin{

}
.proPrin dl{
    width: 100%;
}
.proPrin dl dt{
    width: 15%;
    font-size: 16px;
    line-height: 65px;
    float: left;
}
.proPrin dl dd{
    width: 80%;
    border-bottom: 1px dashed #e5e5e5;
    float: left;
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.proPrin dl dd.first{
    border-top: 2px solid #3fc6ff;
}
.proPrin dl dd.borrowImg{
    position: relative;
}
.borrowImg img{
    position: absolute;
    top: 34px;
    right: 220px;
}
.proPrin dl dd.last{
    border-top: none;
    border-bottom: 2px solid #3fc6ff;
}
.proPrin dl dd p{
    line-height: 24px;
    margin-top: 10px;
}
.proPrin dl dd p span{
    margin-left: 16px;
    color: #333333;
}
.proPrin dl dd p span a{
    color: #4acaff;
}
.lendInfor{
    width: 100%;
    border-bottom: 2px solid #3fc6ff;
    border-top: 2px solid #3fc6ff;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    position: relative;
    margin-bottom: 50px;
}
.lendInfor table{
    width: 100%;
}
.lendInfor table tr th{
    border-bottom: 1px solid #e5e5e5;
    height:56px;
    line-height: 56px;
    text-align: center;
    font-size: 16px;
    color: #0c4e9e;
}
.lendInfor table tr td{
    height:52px;
    line-height: 52px;
    text-align: center;
    font-size: 14px;
}
.lendInfor table tr:hover{
    color: #3fc6ff;
    background: #f9f9f9;
}
.iconPage{
    position: absolute;
    height: 72px;
    text-align: center;
    bottom: -95px;
    left: 140px;
    font-size: 16px;
}
.iconPage span{
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 28px;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}
.iconPage span.on{
    background: #3fc6ff;
    color: #ffffff;
}
.iconPage a{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    color: #3fc6ff;
}
.marL30{
    margin-left: 30px;
}
.iconPage input{
    display: inline-block;
    width: 52px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border: 1px solid #e5e5e5;
    margin-bottom: 5px;
}
.iconPage .go{
    width: 50px;
    cursor: pointer;
}
.del_content .main{
    display: none;
}
.del_content .main.selected{
    display: block;
}
/*详情内容部分结束*/
/*右边部分开始*/
.hotRecommed,.useProblem,.sqErweima{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #e5e5e5;
    width: 85%;
    padding: 20px;
    background: #ffffff;
}
.useProblem,.sqErweima{
    margin-top: 20px;
}
.hotRecommed h3,.useProblem h3{
   color: #0c4e9e;
    font-size: 16px;
    font-weight: normal;
}
.hotRecommed h3 a,.useProblem h3 a{
    color: #999999;
}
.hotRecommed dl dt{
    font-size: 18px;
    color: #0c4e9e;
    text-align: center;
    margin-top: 20px;
}
.hotRecommed .parcent{
    font-size: 16px;
}
.hotRecommed .rateNumber{
    margin-top: 10px;
}
.hotRecommed dl dd.one{
    text-align: center;
}
.hotRecommed dl dd.two,.hotRecommed dl dd.three{
    height: 30px;
    line-height: 30px;
}
.hotRecommed dl dd.two{
    margin-top: 12px;
}
.hotRecommed dl dd.four{
    height: 3px;
    background: #f2f2f2;
    width: 100%;
    position: relative;
}
.hotRecommed dl dd.four span.progress{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 3px;
    width: 100px;
    background: #3fc6ff;
}
.hotRecommed a.btn{
    display: inline-block;
    width: 155px;
    height: 41px;
    text-align: center;
    line-height: 41px;
    color: #ffffff;
    background: #3fc6ff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 2px;
    margin: 18px 0px 0px 40px;
    font-size: 16px;
}
.useProblem ul{
    margin-top: 10px;
}
.useProblem ul li{
    font-size: 14px;
    line-height: 42px;
    color: #a2a2a2;
}
.sqErweima img{
    display: inline-block;
    float: left;
}
.sqErweima p{
    margin-left: 15px;
    float: left;
}
.sqErweima p.n1{
    font-size: 18px;
    margin-top: 27px;
}
.sqErweima p.n2{
    font-size: 16px;
    margin-top: 7px;
}
/*右边部分结束*/
/*出借计划详情结束*/

/*还款中开始*/
.pruductName .hking img{
    display: block;
    width: 142px;
    height: 124px;
    margin: 50px 0px 0px 97px;
}
.pruductName .hking a{
    display: block;
    text-align: center;
    font-size: 16px;
    color: #4acaff;
    height: 48px;
    line-height: 48px;
    margin-left: 100px
}
    /*出借成功部分*/
.lendSuccess .special{
    background: url("../images/succeed.png") no-repeat center;
}
    /*出借失败部分*/
.containerLend{
    padding: 8px 0px 20px 0px;
}
.lendFiature{
    width: 1188px;
    height: 420px;
    border: 1px solid #e5e5e5;
    background: #ffffff;
}
.lendFiature dl dt{
    width: 100%;
    height: 100px;
    text-align: center;
    background: url("../images/lendError_03.png") no-repeat center;
    margin-top: 100px;
}
.lendFiature dl dd{
    text-align: center;
}
.lendFiature dl dd.one{
    font-size: 26px;
    color: #444444;
    margin-top: 25px;
}
.lendFiature dl dd.two{
    font-size: 14px;
    color: #999999;
    margin-top: 15px;
}
.lendFiature dl dd.two a{
    color: #54c2f0;
}

/*还款中结束*/

/*普享标开始*/
.proPrin dl dd table tr{
    height: 38px;
    line-height: 38px;
}
.proPrin dl dd table tr td.wid1{
    width: 8%;
    text-align:justify;
    text-align-last:justify;
    font-size: 15px;
}
.proPrin dl dd table tr td.wid2{
    width: 19.33%;
    text-align: left;
    color: #333333;
    font-size: 15px;
    padding-left: 12px;
}
.proPrin dl dd .reveInfor{
    width: 100%;
}
.proPrin dl dd .reveInfor li{
    width: 33.33%;
    height: 90px;
    float: left;
}
.proPrin dl dd .reveInfor li img{
    display: inline-block;
    margin-top: 15px;
    float: left;
}
.proPrin dl dd .reveInfor li p{
    width: 64%;
    padding-left: 20px;
    margin-top: 12px;
}
.proPrin dl dd .reveInfor li a{
    display: inline-block;
    margin-left: 7px;
    width: 68px;
    height: 28px;
    border: 1px solid #e5e5e5;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -o-border-radius: 14px;
    text-align: center;
    line-height: 28px;
    background: #ffffff;
    color: #3fc6ff;
    margin-top: 4px;
}
/*普享标列表页开始*/
.weizhi {
    padding-bottom: 8px;
    overflow: hidden;
    width: 1190px;
    margin: 0 auto;
}
.weizhi li {
    float: left;
    color: #9f9f9f;
    margin-right: 5px;
}
.uls {
    padding: 48px 0 22px;
    background-color: #FFFFFF;
    overflow: hidden;
    margin-bottom: 20px;
}
.uls ul {
    width: 1190px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 18px;
}
.uls ul h3 {
    font-size: 14px;
    color: #929292;
    width: 94px;
    text-align: end;
    line-height: 30px;
    float: left;
    font-weight: 100;
}
.uls ul li {
    margin: 0 22px 0 10px;
    float: left;
}
.uls ul li a {
    color: #929292;
    padding:0 12px;
    height: 30px;
    display: block;
    line-height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.uls ul li a.active{
    color: #FFFFFF;
    background-color: #3fc6ff;
}
.puxiangbiaoImg {
    width: 1190px;
    height: 226px;
    position: relative;
    margin-top: 15px;
}
.puxiangbiaoImg img {
    position: absolute;
    top: 0;
    left: 0;
}
.outcenter {
    border: 1px solid #e5e5e5;
    background-color: #FFFFFF ;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    width: 1188px;
    margin-bottom: 20px;
}
.outcenter .bigBox {
    border-right: 1px solid #e5e5e5;
    float: left;
    width: 236px;
    padding: 40px 30px 28px;
}
.outcenter .box {
    overflow: hidden;
}
.outcenter h3 {
    font-weight: 100;
    width: 160px;
    height: 20px;
    font-size: 20px ;
    margin-bottom: 54px;
    color: #0c4e9e;
    margin-left: 30px;
}
.outcenter h3 span {
    width: 20px;
    height: 20px;
    font-size: 10px;
    display: block;
    color: #FFFFFF;
    background-color: #4acaff;
    line-height: 20px;
    text-align: center;
    float: right;
    margin-top: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.outcenter ul {
    float: left;
    width: 110px;
    overflow: hidden;
}
.outcenter ul li {
    color: #999999;
    margin-bottom: 10px;
}
.outcenter ul h3 {
    font-weight: 100;
    font-size: 34px;
    color: #f1566a;
    margin-left: 0;
    display: inline-block;
}
.outcenter ul h3 em {
    font-size: 20px;
    font-style: normal;
}
.outcenter ul .F {
    margin-bottom: 24px;
    color: #929292;
}
.outcenter .right {
    text-align: right;
}
.outcenter .right h3 {
    color: #868686;
    float: right;
}
.outcenter .jindutiao {
    width: 232px;
    height: 4px;
    position: relative;
    background: #f2f2f2;
}
.outcenter .jindutiao .jindu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 4px;
    background: #3fc6ff;
}
.outcenter button {
    margin-top: 28px;
    width: 156px;
    height: 42px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #4acaff;
    color: #FFFFFF;
    text-align: center;
    line-height: 42px;
    margin-left: 40px;
    border: none;
    outline: hidden;
    font-size: 16px;
    font-family: "微软雅黑", "Microsoft YaHei";
}
.fenye {
    width: 827px;
    height: 62px;
    background: #FFFFFF;
    padding: 30px 0 0 363px;
    position: relative;
}
.fenye ul {
    overflow: hidden;
}
.fenye ul a,
.fenye ul li {
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0 2px;
    float: left;
    color: #868686;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.fenye ul a i,
.fenye ul li i {
    font-style: normal;
    color: #3fc6ff;
}
.fenye ul li i{
    cursor: pointer;
}
.fenye ul .liInput {
    width: 250px;
    height: 30px;
    color: #868686;
    float: left;
    line-height: 30px;
    margin-left: 28px;
}
.fenye ul .liInput em {
    font-style: normal;
    color: #868686;
    float: left;
}
.fenye ul .liInput .input {
    width: 54px;
    height: 28px;
    margin: 0 2px;
    display: block;
    line-height: 28px;
    text-align: center;
    float: left;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.marB20{
    margin-bottom: 20px;
}
/*普享标列表页结束*/










/*弹窗查看信息部分*/
.inforMask{
    display:none;
    background:#000;
    position: fixed;
    z-index:49;
    width:100%;
    height:100%;
    opacity:0.6;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    margin: 0px;
    left: 0px;
    top: 0px;
}
.inforWindow{
    display:none;
    width: 658px;
    height: 448px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background: #ffffff;
    position: fixed;
    z-index: 50;
    left: 50%;
    top: 50%;
    margin-top: -224px;
    margin-left: -329px;
}
.contentImg{
    width: 100%;
    height: 100%;
    position: relative;
}
.card{
    position: relative;
    width: 658px;
    height: 448px;
    overflow: hidden;
}
.flashImg{
    width: 99999px;
    height: 448px;
    position: absolute;
}
.flashImg li{
    width: 658px;
    height: 448px;
    float: left;
    position: relative;
}
.flashImg img{
    width: 100%;
    height: 100%;
}
.contentImg a{
    display: inline-block;
    width: 40px;
    height: 130px;
    opacity:0.2;
    background:#000000;
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    position: absolute;
    top: 50%;
    margin-top: -65px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 40px;
    font-family: Verdana, Geneva, sans-serif;
    color: #ffffff;
    line-height: 130px;
    z-index: 9;
}
.contentImg a.left span{
    display: inline-block;
    width: 40px;
    height: 130px;
    background: url("../images/arrow-left_03.png") no-repeat center;
}
.contentImg a.right span{
    display: inline-block;
    width: 40px;
    height: 130px;
    background: url("../images/arrow-right_05.png") no-repeat center;
}
.contentImg a:hover,.inforClose a:hover{
    opacity:0.6;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
}
.contentImg a.left{
    left: 20px;
    /*background: url("../images/arrow-left_03.png") no-repeat center;*/
}
.contentImg a.right{
    right: 20px;
    /*background: url("../images/arrow-right_05.png") no-repeat center;*/
}
.inforClose{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    background:#000000;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    opacity:0.3;
    position: absolute;
}
.inforClose a{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 27px;
    font-size: 28px;
    color: #ffffff;
}
    /*提示信息部分*/
.promptInfor{
    display: none;
    width: 510px;
    height: 320px;
    background: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    position: fixed;
    z-index: 50;
    left: 50%;
    top: 50%;
    margin-top: -160px;
    margin-left: -255px;
}
.promptInfor h3,.hzlendInfor h3{
    height: 58px;
    border-bottom: 2px solid #4acaff;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 58px;
}
.promptInfor h3 span,.hzlendInfor h3 span{
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 24px;
    line-height: 30px;
    margin-top: 10px;
}
.promptInfor p{
    text-align: center;
    font-size: 18px;
    color: #666666;
    height: 175px;
    line-height: 175px;
}
.selectedIn{
    width: 100%;
   margin-left: 98px;
}
.selectedIn a,.isSure a{
    display: inline-block;
    width: 128px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    border: 1px solid #3fc6ff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 15px;
    text-align: center;
}
.isSure{
    margin-left: 139px;
    margin-top: 10px;
}
.selectedIn .goCertifi,.isSure a.sure{
    color: #ffffff;
    background: #3fc6ff;
}
.selectedIn .nextSay,.isSure a.cancle{
    color: #3fc6ff;
    background: #ffffff;
}
/*出借信息部分*/
.hzlendInfor{
    display: none;
    width: 590px;
    height: 400px;
    background: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    position: fixed;
    z-index: 50;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -295px;
}
.hzlendcon{
    width: 100%;
    height: 90px;
    padding: 50px 0px 50px 0px;
    clear: both;
}
.hzlendcon dl{
    width: 49.9%;
    font-size: 14px;
}
.hzlendcon .one{
    border-right: 1px solid #e5e5e5;
}
.hzlendcon dl dt,.hzlendcon dl dd{
    width: 100%;
    height: 15px;
}
.hzlendcon dl dd{
    margin-top: 24px;
}
.hzlendcon dl span{
    display: inline-block;
}
.hzlendcon dl span.cor9{
    color: #929292;
    text-align: right;
    width: 46%;
    padding-right: 4%;
}
.hzlendcon dl span.cor3{
    width: 50%;
    color: #333333;
    text-align: left;
}
.isAgree{
    margin-top: 20px;
    margin-left: 154px;
}
.isAgree .isSet{
    font-size: 12px;
    color: #f1566a;
    padding-left: 18px;
    margin-left: 24px;
    height: 16px;
    line-height: 16px;
    background: url("../images/error-ico.jpg") no-repeat 0px 1px;
}
.isAgree .agree{
    font-size: 14px;
    color: #929292;
    height: 28px;
    line-height: 28px;
}
.isAgree .agree a{
    color: #3fc6ff;
}
    /*普享标还款中提示信息部分*/
.pruductName .warmPro{
    position: relative;
}
.warmPuxing{
    display: none;
    position: absolute;
    width: 306px;
    height: 128px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    left: -16px;
    top: -144px;
    padding: 0px 5px;
}
.warmPuxing p{
    position: absolute;
    font-size: 13px;
    color: #ff5a70;
    line-height: 22px;
}
.triangle_border_down{
    width: 0;
    height: 0;
    border-width: 12px 14px 0;
    border-style: solid;
    border-color: #e5e5e5 transparent transparent;
    position: relative;
    bottom: -128px;
    left: 4px;
}
.triangle_border_down span{
    display: block;
    width: 0;
    height: 0;
    border-width: 10px 12px 0;
    border-style: solid;
    border-color: #fff transparent transparent;
    position: absolute;
    top: -12px;
    left: -12px;
}
/*普享标结束*/

/*出借计划-详情页-出借明细-详情-star*/
.corSpecial{
    color: #3fc6ff;
    cursor: pointer;
}
.hzlendDetail{
    display: none;
    width: 620px;
    height: 583px;
    background: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    position: fixed;
    z-index: 50;
    left: 50%;
    top: 50%;
    margin-top: -291px;
    margin-left: -310px;
}
.hzlendDetail h3{
    font-size: 18px;
    color: #666666;
    padding: 0 30px;
    height: 56px;
    line-height: 56px;
    border-bottom: 2px solid #4acaff;
    font-weight: normal;
}
.hzlendDetail h3 span{
    font-size: 32px;
    cursor: pointer;
}
.hzlendDetailcon{
    width: 560px;
    padding: 33px 30px 35px 30px;
}
.hzlendDetailcon table{
    width: 100%;
}
.hzlendDetailcon table thead{
    display: block;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    color: #999999;
    background: #f9f9f9;
}
.hzlendDetailcon table thead tr th{
    width: 180px;
}
.hzlendDetailcon table thead tr th.one{
    border-radius: 5px 0px 0px 0px;
    -webkit-border-radius: 5px 0px 0px 0px;
    -moz-border-radius: 5px 0px 0px 0px;
    -o-border-radius: 5px 0px 0px 0px;
}
.hzlendDetailcon table thead tr th.last{
    border-radius: 0px 5px 0px 0px;
    -webkit-border-radius: 0px 5px 0px 0px;
    -moz-border-radius: 0px 5px 0px 0px;
    -o-border-radius: 0px 5px 0px 0px;
}
.hzlendDetailcon table tbody{
    width: 558px;
    display: block;
    width: 560px;
    border: 1px solid #e7e7e7;
    border-radius: 0px 0px 5px 5px;
}
.hzlendDetailcon table tbody tr{
    width: 558px;
    height: 50px;
    line-height: 50px;
}
.hzlendDetailcon table tbody tr td{
    width: 180px;
    text-align: center;
}
.hzlendDetailcon table tbody tr.first td{
    padding-top: 10px;
}
.hzlendDetailcon table tbody tr.last td{
    padding-bottom: 10px;
}
.Detail-iconPage{
    margin-top: 20px;
}
.Detail-iconPage ul{
    float: right;
}
.Detail-iconPage ul li{
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;text-align: center;
    border: 1px solid #e0e0e0;
    margin-left: 9px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.Detail-iconPage ul li.current{
    border: 1px solid #34c5ff;
    background: #34c5ff;
    color: #ffffff;
}
/*出借计划-详情页-出借明细-详情-end*/

/*出借计划-详情页-借款信息-star*/
.proPrin dl dd table tr td.textR{
    text-align: right;
}
.deLeCon{
    display: none;
}
/*出借计划-详情页-借款信息-end*/

