.jxqRight {
  float: right;
  width: 850px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #fff;
  padding: 30px 20px 0 20px;
}
.jxqRight h2 {
  font-size: 18px;
  color: #4a4a4a;
  height: 42px;
  float: left;
}
.jxqRight .leixing {
  float: right;
  height: 42px;
  margin-right: 15px;
}
.jxqRight .leixing li {
  float: left;
}
.jxqRight .leixing li a {
  font-size: 14px;
  display: block;
  height: 42px;
  text-align: center;
  width: 76px;
  color: #666666;
}
.jxqRight .leixing li a:hover{
  color: #34c5ff;
  border-bottom: 4px solid #34c5ff;
}
.jxqRight .rightBox {
  border-top: 1px solid #e5e5e5;
  margin-top: 42px;
  min-height: 523px;
  width: 850px;
  position: relative;
}
.jxqRight .rightBox em {
  display: block;
  position: absolute;
  top: 242px;
  left: 342px;
  font-style: normal;
  font-size: 18px;
  color: #666666;
}
.jxqRight .rightBox .jifen {
  width: 222px;
  height: 48px;
  border: 1px dashed #e5e5e5;
  border-radius: 2px;
  float: left;
  padding-top: 70px;
  margin-top: 18px;
  font-size: 13px;
  color: #999999;
  text-align: center;
  background: url(../images/jia.png) no-repeat center 36px;
}
