.jxqRight {
  float: right;
  width: 850px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #fff;
  padding: 30px 20px 0 20px;
  margin-bottom: 40px;
}
.jxqRight .leixing {
	margin-right: 15px;
  float: right;
  height: 42px;
}
.jxqRight .leixing li {
  float: left;
}
.jxqRight .leixing li a {
  font-size: 14px;
  display: block;
  height: 42px;
  text-align: center;
  width: 76px;
  color: #666666;
}
.jxqRight .leixing li a:hover {
  color: #34c5ff;
  border-bottom: 2px solid #34c5ff;
}
.jxqRight .leixing li.active{
	color: #34c5ff;
  border-bottom: 2px solid #34c5ff;
}
 .tab{
 	display: none;
 }
 .tab.block{
 	display: block;
 }
.jxqRight h2 {
  font-size: 20px;
  color: #4a4a4a;
  height: 40px;
  float: left;
}
.jxqRight .rightBox {
  border-top: 1px solid #e5e5e5;
  margin-top: 42px;
  min-height: 523px;
  width: 850px;
  position: relative;
}
.jxqRight .rightBox .uls {
  margin-top: 20px ;
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
.jxqRight .rightBox .uls ul {
  float: left;
}
.jxqRight .rightBox .uls .first {
  width: 232px ;
  height: 89px;
  padding-top: 25px;
  background-color: #f1566a;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  padding-left: 42px;
  margin-right: 90px;
}
.jxqRight .rightBox .uls .first li {
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 14px;
}
.jxqRight .rightBox .uls .first h3 {
	margin-top: 0;
  font-size: 30px;
  color: #FFFFFF;
}
.jxqRight .rightBox .uls .second,
.jxqRight .rightBox .uls .third {
  margin-top: 18px;
}
.jxqRight .rightBox .uls .second li,
.jxqRight .rightBox .uls .third li {
  font-size: 14px;
  font-weight: 600;
  color: #666666;
  height: 32px;
}
.jxqRight .rightBox .uls .second {
  width: 70px;
  text-align: end;
  margin-right: 56px;
}
.jxqRight .rightBox .uls .third {
  width: 70px;
  text-align: start;
}
.jxqRight .rightBox h3 {
  font-size: 18px;
  margin: 28px 0 20px;
}
.jxqRight .rightBox h3 em {
  margin-top: 4px;
  display: inline-block;
  float: left;
  width: 4px;
  height: 18px;
  margin-right: 5px;
  background: #3fc6ff;
}

  .conterbox{
    width: 100%;
    font-size: 14px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 19px;
}
  table{
    width: 100%;
}
  table tr th{
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
}
  table tr td{
   /*width: 25%;*/
    color: #666666;
    padding-left: 20px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
table tr td.color{
	color: #4acaff;
}
table tr td.colorUp{
	color: #f1566a;
}
  table tr.n1{
    background: #f8f8f8;
}
  table tr.n2{
    background: #f5f7fa;
}
  table tr{
    height: 44px;
}
  table tr td.last{
    border-bottom: none;
}
.iconPage{
    width: 100%;
    height: 70px;
    line-height: 50px;
}
input{
	border: 1px solid #e4e4e4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 108px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	font-size: 12px;
	color: #dedede;
	background: url(../images/date.png) no-repeat 94px center;
}
.topInput{
	margin-top:20px;
	margin-bottom:30px ;
}
.topInput em{
	font-style: normal;
	font-size: 14px;
	color: #999999;
	margin:8px;
}
.all{
	color: #666666;
	margin-right: 10px;
	font-size: 14px;
	background: url(../images/down.png) no-repeat 100px center;
}
.topInput button{
	background-color: #ffc323;
	width: 100px;
	height: 32px;
	border: none;
	outline: hidden;
	border-radius: 3px;
	margin-left: 20px;
}
